[2016-01-16 18:07] pmwoodward3 opened #1 "Internal server error 500"
Just ran into this, after installing the plugin, when I visit its plugin page I see this:

Internal Server Error

500

No response from subprocess (/usr/local/cpanel/whostmgr/docroot/cgi/letsencrypt/letsencrypt.pl): The subprocess reported error number 2 when it ended.

Any idea whats happening? The install script didnt have any errors and python 2.7 is installed correctly.

[2016-01-16 18:12] pmwoodward3 commented on #1
error log output when viewing the plugin page:

Can't locate Cpanel/PublicAPI.pm in @INC (@INC contains: /usr/local/cpanel /usr/local/cpanel/3rdparty/perl/514/lib64/perl5/cpanel_lib/x86_64-linux-64int /usr/local/cpanel/3rdparty/perl/514/lib64/perl5/cpanel_lib /usr/local/cpanel/3rdparty/perl/514/lib64/perl5/5.14.4/x86_64-linux-64int /usr/local/cpanel/3rdparty/perl/514/lib64/perl5/5.14.4 /opt/cpanel

[2016-01-17 13:46] Prajithp commented on #1
Yes, In 11.54, cPanel has changed their public api module to cPanel::PublicAPI.
This has been fixed and updated the repository. Kindly uninstall the current version and install it again.

# Uninstall Command
[code]
Please test it out and let me know.

[2016-01-17 16:20] pmwoodward3 commented on #1
Thanks! that got the plugin page fixed, but now when I click "install letsencrypt ssl cert" the popup has a dropdown box with no options when I click on it.

Also it would be awesome if there was a "get ssl certs for all accounts" button or function.

Thanks again, really great work :)

[2016-01-18 05:08] Prajithp commented on #1
Could you please send me a screenshot of the error message to prajithpalakkuda@gmail.com?

Regarding new feature "get ssl certs for all accounts",  Request rate limits are currently in place for the Let’s Encrypt service, so if we request for multiple ssl certificate within minutes, they may block the server ip. Anyway I'm adding this as a feature request and will work on it.

[2016-01-18 05:09] Prajithp opened #2 "get ssl certs for all accounts"
It would be awesome if there was a "get ssl certs for all accounts" button or function.

[2016-01-20 06:25] hedqvist opened #3 "Problem installing on an addon domain"
I'm currently having an issue with installing certs that is an addon-domain. Since i only seem to get to choose the subdomain from the drop-drown in Plugins -> letsencrypt

[2016-01-20 06:54] Prajithp commented on #3
Oops, will add option to select addon-domains too.

[2016-01-20 07:04] hedqvist commented on #3
Perfect, will you supply the line of code to update the plugin aswell ? :)

[2016-01-20 12:17] #1 closed

[2016-01-21 07:00] Prajithp commented on #3
Hey,

 Now you can install ssl cert for addon-domains as well, but please note that, you can see only corresponding subdomains in the dropdown list.

for updating,

[code]

Please test this out and let me know if it works for you:)

[2016-01-21 07:10] hedqvist commented on #3
Hey, Thanks for the quick update and the code to update!

Yesterday i tried to install the cert on the subdomain that the addon domain is using, after i realised it didnt work i uninstalled it.
So far so good.

Now when I select said domain it get this:
"The domain subdomain.domain.com is already having an active ssl certificate"
**note that i have replaced my actual domainname with  subdomain.dom

[2016-01-21 07:17] Prajithp commented on #3
Simply remove the file /var/letsencrypt/conf/subdomain.domain.com.json and try to install again,

[2016-01-21 07:34] hedqvist commented on #3
Removed the json file and just tried again.
"Something went wrong, kindly check the letsencrypt log file"

2016-01-21 07:23:53,307:DEBUG:letsencrypt.cli:Root logging level set at 30
2016-01-21 07:23:53,308:INFO:letsencrypt.cli:Saving debug log to /var/log/letsencrypt/letsencrypt.log
2016-01-21 07:23:53,308:DEBUG:letsencrypt.cli:letsencrypt version: 0.2.0
2016-01-21 07:23:53,308:DEBUG:letsencrypt.c

[2016-01-21 07:40] Prajithp commented on #3
Could you please attach here the complete log file? I could not find anything wrong in the above info.

[2016-01-21 07:51] hedqvist commented on #3
[letsencrypt.txt](https://github.com/Prajithp/letsencrypt-cpanel/files/98847/letsencrypt.txt)

Uploaded letsencrypt.log

A small wish, when selecting the domain in the dropdown, would be great to see the addon domain name (alias) instead of the actual subdomain that is also created :)

[2016-01-25 08:26] hedqvist commented on #3
Any ideas on what could be causing this issue?

[2016-01-27 10:53] Prajithp commented on #3
Still no idea, could not find anything wrong in the log file. How often are you getting that error message?

[2016-01-27 10:59] hedqvist commented on #3
Every time i try to add SSL on that specific domain. Should i remove any other files and try again?

[2016-02-01 04:42] Prajithp commented on #3
I have updated LetsEncrypt perl module to fix the WHM api issue, please test this out and let me know.

[2016-02-01 06:34] hedqvist commented on #3
Worked perfectly!

I ran

[code]
Something small would be to show the addon domain name instead of the subdomain in the dropdown :)

Good job!

[2016-02-02 13:44] ManoSmriti opened #4 "Installed the Plugin but SSL Install takes forever"
I have installed the plugin. but for some reason the same happened on two of our servers.
the SSL install takes for ever. and SSL is not installed.both have WHM build 8.

[2016-02-02 14:07] Prajithp commented on #4
Could you please provide more info about this? Also, please send me the following log files for further troubleshooting.

 /usr/local/cpanel/logs/error_log
/var/log/letsencrypt/letsencrypt.log

[2016-02-02 14:13] Prajithp commented on #3
Thanks for the confirmation and glad to hear that it worked for you.

Sure, will add an option to select addon-domain name directly instead of aliases.

[2016-02-03 09:16] adminko-svk opened #5 "Domain sorting"
Hello,
your script works excellent, thank you very much!

But can you sort the table and the select form alphabetically?
And how can I run the renew script from CRON?

Thank you!

[2016-02-04 16:37] Prajithp commented on #5
working on this feature :)

[2016-02-05 20:49] dochardi opened #6 "[FIXIT] We get always are error"
Hello We get That error

And yes we are login to whm as root and what we see are that he not set the acme-challenge files

kai

[2016-02-08 05:27] Prajithp commented on #6
Are you sure the domain http://bewo.dwe-gruppe.eu/.well-known is pointing to the same server?

[2016-02-08 23:01] dochardi commented on #6
yes i am sure

[2016-02-09 01:18] dochardi commented on #6
For you information and maby you add this to the readme you need to dissable cPanel/Bluehost’s EasyApache Symlink patch

[2016-02-09 06:40] Prajithp commented on #6
Thanks for the fix, please open a pull request if it possible

[2016-02-09 06:40] #6 closed

[2016-02-09 06:40] #4 closed

[2016-02-11 06:48] Prajithp commented on #5
@adminko-svk

   mentioned feature is now merged into active branch, please uninstall the current version by using the following command.

[code]

Also, please note that, in this version I have removed python dependency, so please let me know if you get any errors while installing ssl certs.

[2016-02-11 08:44] adminko-svk commented on #5
Thank you, but after uninstalling and installing a have a problem:

[code]

[2016-02-11 09:05] Prajithp commented on #5
Could you please send the log file /usr/local/cpanel/logs/error_log to prajithpalakkuda@gmail.com? so that I can check and fix the issue.

[2016-02-11 09:36] adminko-svk commented on #5
you have mail

[2016-02-11 09:43] Prajithp commented on #5
Found the issue. Can you please install JSON::XS module?

[code]

[2016-02-11 09:49] adminko-svk commented on #5
`CDB_File could not be loaded. You may see pages in English rather than in your desired locale at /usr/local/cpanel/Cpanel/Locale/Utils.pm line 11.
JSON::XS is missing the no_set_utf8 flag at /usr/local/cpanel/Cpanel/JSON.pm line 151.
Can't call method "whm_api" on an undefined value at /usr/local/cpanel/Cpanel/LetsEncrypt/WHM.pm line 164.
[2016-02-11 10:48:39 +0100] info [cpsrvd] Internal Server

[2016-02-11 09:56] Prajithp commented on #5
are you still getting the same error even after installing that above mentioned module?

perl -MJSON::XS -e1

can you run that command for me?

[2016-02-11 10:01] adminko-svk commented on #5
Last error:
`CDB_File could not be loaded. You may see pages in English rather than in your desired locale at /usr/local/cpanel/Cpanel/Locale/Utils.pm line 11.
JSON::XS is missing the no_set_utf8 flag at /usr/local/cpanel/Cpanel/JSON.pm line 151.
Can't call method "whm_api" on an undefined value at /usr/local/cpanel/Cpanel/LetsEncrypt/WHM.pm line 164.
[2016-02-11 10:59:56 +0100] info [cpsrvd] Inte

[2016-02-11 10:11] Prajithp commented on #5
my mistake :(,

   install this as well.
       /scripts/perlinstaller cPanel::PublicAPI

[2016-02-11 10:17] adminko-svk commented on #5
Great, it works!

For info - list of today installed PERL modules:
Protocol::ACME
JSON::XS
Mozilla::CA
CGI
cPanel::PublicAPI

Thank you!

[2016-02-11 10:20] Prajithp commented on #5
Cool :) Thank you for sharing the modules list

[2016-02-11 10:33] adminko-svk commented on #5
Now I **can not create SSL certs**...
After installing via WHM, the Provider value in table is blank.
Also the new cert is only 2048bit (and not working).

Error log:

[code]

[2016-02-11 10:42] Prajithp commented on #5
Not sure what could be the issue. Can you remove the existing one and install it again? as I was able install ssl certs without any issues.

[2016-02-11 10:43] adminko-svk commented on #5
the problem persists...

[2016-02-11 10:48] adminko-svk commented on #5
Works!
After complete uninstalling and installing again.

Thank you!

[2016-02-11 10:49] #5 closed

[2016-02-12 05:51] Prajithp commented on #3
Hi,

  You can now select addon domains instead of aliases. Please note that, you have to remove the current version and install the latest one from git as I have removed python dep.

[code]

[2016-02-12 08:31] hedqvist commented on #3
ran the command, removed the letsencrypt-cpanel folder and did the installation by following instructions in readme.

Successfully installed letsencrypt manager
When i try to access the plugin section via WHM i get this.

[2016-02-12 08:48] adminko-svk opened #7 "CRON problem"
This is output from CRON job `/scripts/renew_letsencrypt_ssl.pl`:

`CDB_File could not be loaded. You may see pages in English rather than in your desired locale at /usr/local/cpanel/Cpanel/Locale/Utils.pm line 11.`

[2016-02-12 09:23] Prajithp commented on #3
mm :( could you please send the cpanel log file  /usr/local/cpanel/logs/error_log to prajithpalakkuda@gmail.com?

[2016-02-12 09:36] Prajithp commented on #3
Found the issue,
  Kindly install below two modules and try.

[code]

Will update the code soon

[2016-02-12 09:39] hedqvist commented on #3
That did the trick!

Working now :)

[2016-02-12 09:39] #3 closed

[2016-02-13 02:27] BeZazz opened #8 "Renew letsencrypt SSL certificate"
Just playing and I noticed.

While it lists the provider of an expired Cert as
COMODO CA Limited

Clicking Renew letsencrypt SSL certificate
Offers to renew the domain of the expired Comodo cetificate.

I am assuming this is a bug?

[2016-02-13 15:24] Prajithp commented on #8
Can you please check this now, as I have updated the code. Please test it and let me know.

[2016-02-14 19:50] BeZazz commented on #8
The Comodo expired domain still show up as a renewal option.
Click Renew returns.
"Could not find the domain config file, please revoke the ssl cert and install it again"

IMO the domain should not show up under "renew" only "install".

[2016-02-14 20:17] BeZazz opened #9 "Newly installed does not show up under installed"
I just noticed when installing a certificate for a domain, that the newly installed cert does not show up under
SSL enabled Vhosts

until you leave and renter
Manage letsencrypt ssl certificate

[2016-02-16 18:06] KeithIMyers opened #10 "500 Internal Server Error"
Good Afternoon,
Upon installing this plugin, I see the option under the WHM plugin manager for "Letsencrypt" however I get a 500 server error after selecting it. Any advice?

Internal Server Error

500

No response from subprocess (/usr/local/cpanel/whostmgr/docroot/cgi/letsencrypt/letsencrypt.pl): The subprocess reported error number 255 when it ended.

[2016-02-17 08:35] Prajithp commented on #10
Could you please run this script from command line and paste the result here? so that I can assist you further on this.

[code]

[2016-02-17 14:30] KeithIMyers commented on #10
root@srv1 [~]# /usr/local/cpanel/whostmgr/docroot/cgi/letsencrypt/letsencrypt.pl
Status: 400 Bad request
Content-Type: application/text; charset=ISO-8859-1

[2016-02-17 20:33] ssteeltm opened #11 "install certificate on whm/cpanel/webmail services"
Hello, it worked fine on my hosted domains! But I was wondering if there is anyway to install these certificates on WHM service (2083, 2087, webmail,cpanel, etc)?

Thank you!

[2016-02-18 05:42] ashworthconsulting commented on #11
Yes, please. I'm wondering the same thing.

[2016-02-18 09:41] Prajithp commented on #10
this looks fine, could you please access whm=>letsencrypt and share the cpanel error log file? so that I can check and assist you.

[2016-02-18 09:43] Prajithp commented on #8
yes, I will work on it when I get much free time. Also, I don't have any servers with active cpanel license.

[2016-02-18 15:19] KeithIMyers commented on #10
Here you go

malformed JSON string, neither tag, array, object, number, string or atom, at character offset 0 (before "<!DOCTYPE html>\n<ht...") at /usr/local/cpanel/Cpanel/LetsEncrypt/WHM.pm line 171.
[2016-02-18 10:18:33 -0500] info [cpsrvd] Internal Server Error: "GET /cpsessXXXXXXXXXXXX/cgi/letsencrypt/letsencrypt.pl HTTP/1.1" 500 No response from subprocess (/usr/local/cpanel/whostmgr/docroot

[2016-02-19 16:49] pgasiorowski commented on #11
Same here, adding Exim to the mix of services.

[2016-02-19 20:15] hedqvist commented on #7
I also recive this in the daily cron mails.
Subject: Cron root@vps1 /scripts/renew_letsencrypt_ssl.pl
Message: CDB_File could not be loaded. You may see pages in English rather than in your desired locale at /usr/local/cpanel/Cpanel/Locale/Utils.pm line 11.

[2016-02-19 20:16] hedqvist commented on #11
Would be great! I can donate a few beers for this!

[2016-02-20 04:46] ashworthconsulting opened #12 "malformed JSON string"
Getting this error when attempting to install SSL on a domain for the first time.

[2016-02-20 04:52] ashworthconsulting commented on #12
Gotten this error on two different cPanel servers now. Each in different data centers.

Thank you for looking into this.

[2016-02-20 05:35] Prajithp commented on #12
Hi,

This can be happen if you enabled  any security settings in whm, so please
check the same and let me know.

Also, if you can give teamviewer or any other type of access to server, I
can help you further on this.

My personal mail id: prajithpalakkuda@gmail.com
On 20-Feb-2016 10:22 AM, "ashworthconsulting" notifications@github.com
wrote:

[2016-02-20 05:37] Prajithp commented on #7
This is a warning and you can simply ignore it. Will release a patch to fix
this issue soon.
On 20-Feb-2016 1:45 AM, "Christopher Hedqvist" notifications@github.com
wrote:

[2016-02-20 05:48] ashworthconsulting commented on #12
Just emailed you some info. Thanks!

[2016-02-20 06:37] Prajithp commented on #11
Started working on it :)

[2016-02-20 06:40] Prajithp commented on #12
Thank you for the access, managed to fix this issue by updating Net::SSLeay module to latest version

[2016-02-20 06:41] ashworthconsulting commented on #12
Yep, and it's working. Thanks again!

[2016-02-20 06:41] #12 closed, assigned to nobody

[2016-02-20 13:59] ssteeltm commented on #11
Hello Prajith,
Using pure letsencrypt plugin I was able to generate one certificate with
these domains included: www.domain.com , domain.com , mail.domain.com ,
ftp.domain.com , whm.domain.com , server.domain.com .

Synce letsencrypt uses acme to validate, I wasnt able to generate for these
address: webmail.domain.com and cpanel.domain.com. I didnt find where is
webroot for these.

Webroot for whm

[2016-02-20 23:10] ashworthconsulting opened #13 "Auto renewal?"
The readme is a little bare right now, so I felt the need to ask. What's the situation with renewals? Do we need to go in and renew them ourselves manually, or does this happen automatically on cron?

Thank you!

[2016-02-21 14:59] Prajithp commented on #13
renewal script is already included with this installer and a cronjob will do the renewal process. Will update the readme soon :)

[2016-02-21 15:25] BeZazz commented on #11
May be of some help
https://forums.cpanel.net/threads/cpanel-ssl-certs-lets-encrypt.522041/#post-2121701

[2016-02-21 17:47] Prajithp commented on #11
Thank you for the link :) Actually this can be done using WHM API 1 Functions - install_service_ssl_certificate https://documentation.cpanel.net/display/SDK/WHM+API+1+Functions+-+install_service_ssl_certificate

 I will be able to release this by tomorrow evening :+1:

[2016-02-21 17:53] hedqvist commented on #11
👍🏻
Very nice

[2016-02-23 18:27] #13 closed, assigned to nobody

[2016-02-24 05:13] Prajithp commented on #11
This has been merged into the main branch :+1:  Please try this out and let me know.

[2016-02-24 09:38] BeZazz commented on #11
I tried this on the only server I had that didn't have a Comodo cert on.

I do not know if it is repeatable or not but I had to restart the cPanel service for the cert to take affect.

[2016-02-24 16:16] Prajithp commented on #11
Yes, you have to restart cpsrvd service to take affect the changes. I clearly mentioned it in the message after the installation. Please try this out and give me a feedback, so that I can improve this.

[2016-02-24 16:19] hedqvist commented on #11
It should be enough to Run The upgrade.sh now right?

[2016-02-24 16:27] Prajithp commented on #11
Yes, simply clone it and run upgrade.sh :)

[2016-02-24 16:32] ashworthconsulting commented on #11
Or use `cd ~/letsencrypt-cpanel` (or wherever you originally cloned it) and then `git pull; ./upgrade.sh;`

[2016-02-24 16:33] ashworthconsulting commented on #11
@Prajithp

Any reason why we don't execute `service cpanel restart` as part of the script? Just curious. I'm all about automation and easier processes. If you feel it's best to have it separated out as a manual action, I'm okay with that as well.

[2016-02-24 16:56] BeZazz commented on #11
Sorry I obviously didn't pay attention.

[2016-02-24 17:09] ashworthconsulting opened #14 ""Renew letsencrypt SSL Cert" button"
Good morning. This is non-urgent. Just curiosity.

The "Renew letsencrypt SSL Cert"...what's it for? Certs renew automatically, so I'm just curious what it's for. What its function is. Thanks!!

[2016-02-25 05:23] Prajithp commented on #14
Yes, previously there was no cron setup for renewing the certificate. I will remove the button from whm interface. Thanks for the heads up :)

[2016-02-25 05:23] #14 closed, assigned to nobody

[2016-02-25 05:30] Prajithp commented on #11
@ashworthconsulting, Actually in my test server I had some issues while restarting cpsrvd, that's why I didn't add that option. Will test this on different servers and update here.

[2016-02-26 22:32] dochardi commented on #10
Hello I have the same issus that are what the cpanel error log say

CDB_File could not be loaded. You may see pages in English rather than in your desired locale at /usr/local/cpanel/Cpanel/Locale/Utils.pm line 11.
Can't use an undefined value as an ARRAY reference at /usr/local/cpanel/Cpanel/LetsEncrypt/WHM.pm line 128.
[2016-02-26 23:07:10 +0100] info [cpsrvd] Internal Server Error: "GET /cpsess

[2016-02-29 08:26] hedqvist commented on #11
ran the upgrade.sh without any issues, tried to install certificates on all the services.

usr/local/cpanel/logs/error_log

[2016-02-29 08:38] Prajithp commented on #11
Could you please send the complete log file 'usr/local/cpanel/logs/error_log' to prajithpalakkuda@gmail.com? I could not find anything in the above log result.

[2016-02-29 09:14] hedqvist commented on #11
Sent!

[2016-03-02 07:49] hedqvist commented on #11
any news on the log file?

[2016-03-02 14:36] dochardi commented on #10
Hello,

Any infos about how to fix that issus?

[2016-03-02 16:43] hedqvist commented on #11
Tried to reinstall... no success..

[2016-03-02 23:12] Erreu commented on #11
Hi ssteeltm,

Could you share the command line that you used to create the additional names (mail.domain.com, ftp.domain.com, whm.domain.com). Did you use whmap1?

[2016-03-02 23:16] Erreu commented on #8
I have a license that I am not currently using at the moment. Would that help you with this?

[2016-03-02 23:22] ashworthconsulting commented on #8
@Prajithp You can get a developer license here:

http://cpanel.com/developer-license-app/

Separately, I'll get you a VPS to use to develop/test with. Just let me know the desired specs (RAM, CPU, disk, etc). I believe you still have my contact info as well.

[2016-03-03 03:01] ashworthconsulting commented on #10
Just got the error, actually. Most of our servers are CentOS 6 or 7, but I just tried on CentOS 5 and that produced the 500 error. Here are details. Log to follow shortly to your email @Prajithp

[code]

[2016-03-03 03:03] ashworthconsulting commented on #10
[code]

[2016-03-03 03:43] ashworthconsulting commented on #10
I should note, however, that SNI isn't available on CentOS 5. At least I believe that's still the case.

So maybe this is futile on this server.

[2016-03-03 05:23] Prajithp commented on #10
@KeithIMyers @ashworthconsulting @dochardi , Could you please upgrade to latest release and see how it works? both mentioned issues has been fixed.

[2016-03-03 05:32] Prajithp commented on #8
@Erreu @ashworthconsulting Thanks for the offer. Not needed now as I  bought new server :)
@BeZazz Could you please upgrade to the latest release?

[2016-03-03 05:32] #8 closed, assigned to nobody

[2016-03-03 05:37] ashworthconsulting commented on #10
@Prajithp For me, at least...on CentOS 5 it wouldn't matter, right? Because I'd need to assign each SSL domain to a static IP address. I don't think SNI is on v5, and if it is not, I think I'd be a tad out of luck on that particular server (with no way to upgrade to v6 for that matter...the sites need to be migrated).

[2016-03-03 05:40] Prajithp commented on #7
This has been fixed. Now all erros and messages are redirected to  /dev/null

[2016-03-03 05:40] #7 closed, assigned to nobody

[2016-03-03 05:40] Prajithp commented on #9
Fixed now :+1:

[2016-03-03 05:40] #9 closed, assigned to nobody

[2016-03-03 05:48] Prajithp commented on #10
Yes CentOS 5 doesn't support SNI. But, if you have domains with dedicated ip, you can still assign letsencrypt ssl certificate using this.

[2016-03-03 05:49] Prajithp commented on #2
Due to letsencrypt rate limit, this is not possible at all, so closing it.

[2016-03-03 05:49] #2 closed

[2016-03-03 08:48] BeZazz commented on #8
The Comodo expired domain no longer shows up under renew :)
It also no longer shows up under install :( , while you should not be offered to renew an expired third party cert you should still have the option to install on the domain.

[2016-03-03 11:26] kushalraha opened #16 "SSL Removal & Reinstallation"
SSL Certificate Removed from the plugin.
SSL Cert and Key deleted from cPanel.
Install SSL again.
Error: The domain xxx.com is already having an active ssl certificate.

[2016-03-03 16:19] ssteeltm commented on #11
Erreu, I've used official letsencrypt plugin.
./letsencrypt/letsencrypt-auto certonly --webroot
    -w /usr/local/apache/htdocs/ -d ftp.domain.com -d server02.domain.com -d mail.domain.com
    -w /usr/local/cpanel/whostmgr/docroot/ -d whm.domain.com
    -w /home/domain/public_html/ -d www.domain.com -d domain.com

The Official Letsencrypt plugin supports multiple webroots  and  subdomains in one c

[2016-03-03 16:29] Erreu commented on #11
ssteeltm, ah, of course. I misread your post and thought you were accessing Prajith's plugin directly.

[2016-03-03 16:31] ssteeltm commented on #11
Prajith already made a Great Job!
But if had this support would be awesome =]
Generate one certificate with all this subdomais as default, with corresponding webroot, and also the function he already made to install a certificate on whm services.

[2016-03-03 16:39] Prajithp commented on #11
@ssteeltm Can you please confirm, how you want to generate the cert?

[2016-03-03 16:46] ssteeltm commented on #11
@Prajithp, Actually letsencrypt-cpanel generate certificate with one "webroot".
So what I need is this certificate to have more subdomains, with other webroot,
On whm we have these subdomains for each domain account as default:
whm.domain.com
cpanel.domain.com
webmail.domain.com
 ftp.domain.com
mail.domain.com
whm.domain.com

Actually letsencrypt-cpanel does create one certificate with one webroot

[2016-03-03 16:59] Prajithp commented on #11
OK I understood. But, could u plz share your apache conf with me? because in my server, if I access cpanel.domain.com it is keep redirecting to cpanel.domain.com:2083

[2016-03-03 17:08] ssteeltm commented on #11
I'll send on prajithpalakkuda@gmail.com.
I'm using:
CENTOS 6.7 x86_64 kvm –  WHM 54.0 (build 18)
On mine, cpanel/webmail/whm opens ok on both ports 2083 or 80/443.

[2016-03-04 03:39] Prajithp commented on #11
@ssteeltm I can see that cpanel.\* whm.\* all mentioned subdomains are using default cPanel/WHM certificate, so i'm not sure how did you install the certificate for these subdomains.

Anyway, will look into this issue and update you.

[code]

[2016-03-04 12:43] ssteeltm commented on #11
I've just generated the certificate, didnt install on service yet.
I can enable so you can see

On Fri, Mar 4, 2016 at 12:39 AM, Prajith notifications@github.com wrote:

##

---

Hugo Sampaio
Email: ssteeltm@gmail.com

[2016-03-04 13:13] Prajithp commented on #11
Yes, please install and let me know.

[2016-03-04 17:06] ssteeltm commented on #11
@Prajithp, I enabled the certificate with multiple webroot.
This enabled cert. was made to these domains: domain.com www.domain.com ftp.domain.com and mail.domain.com.

Guess will not be possible with subdomain whm.\* / cpanel\* / webmail\* , It didnt workout because of the login page protection wich acts under they webroot (so when letsencrypt server try to reach these on ./well-known/acme-challe

[2016-03-04 19:02] Erreu commented on #11
@ssteeltm Just an FYI, cpanel has a switch "Proxy Subdomains" in Tweak Settings to enable using the client certificate on the service's subdomains (cpanel,whm,webdisk, and webmail). I have NOT been able to get this to work on my test server. I may need to open a Cpanel support ticket to find out why. It is documented here: https://documentation.cpanel.net/display/CKB/Proxy+Subdomains+Use+the+cPane

[2016-03-07 17:22] dochardi commented on #10
We can confirme that the laste update fix the 500 error

[2016-03-07 17:43] dochardi opened #17 "Request: Cpanel User Add ssl"
Hello Maby you can Add are way that costumers can add ssl to ther owner domain so that the admins not need to do it or a post wwwaccountcreate so that all acount get ssl automaticly??

that would be great why atm us tech need to do it for all user

besth wish

kai

[2016-03-07 17:55] KeithIMyers commented on #10
In my case, the latest update did not fix it for me (CentOS 6.7)

On Mon, Mar 7, 2016 at 12:22 PM, Kai notifications@github.com wrote:

##

[image: --]
Keith I Myers
[image: http://]http://KMyers.me
+Keith I Myers http://plus.kmyers.me/
Mobile : (305)-929-3475

[2016-03-08 04:42] Prajithp commented on #17
Yes, already started working on this :+1:

[2016-03-08 04:43] Prajithp commented on #10
@KeithIMyers Could you please share the cpanel error log with me?

[2016-03-08 14:53] HoustonDad commented on #10
Just installed this on my personal system, getting 500 ISE as well.

[code]

error_log:

[code]

[code]

[2016-03-09 07:15] Prajithp commented on #16
How did you remove the SSL certificate? please update to latest version and let me know.

[2016-03-09 07:15] #16 closed, assigned to nobody

[2016-03-09 07:16] Prajithp commented on #10
Seems, you have enabled some security settings in WHM as I can see the key based auth was denied by WHM. Please check your security settings and let us know.

[2016-03-09 07:18] Prajithp opened #18 "Send an email alert to domain owner when renewal is attempted."

[2016-03-09 07:32] will-ashworth commented on #18
Good idea @Prajithp

[2016-03-09 07:32] will-ashworth commented on #17
:+1:

[2016-03-09 15:19] HoustonDad commented on #10
Yep, verified that having 2FA enabled for root causes this to fail.

[2016-03-09 15:22] KeithIMyers commented on #10
This does make sense as I also have 2FA turned on for my root account.

@Prajithp - do you think this can be fixed in the future?

[2016-03-10 10:54] macklus opened #19 "Error on renew"
Hi:

When i run renew_letsencrypt_ssk.pl as root, it dies with message:

Failed to renew SSL certificate for hostname : Died at /usr/local/cpanel/Cpanel/LetsEncrypt/Service.pm line 147

who can this problem be resolv ?

thanks in advance

[2016-03-13 17:25] darylstyrk opened #20 "Re-Scanning Users Domains"
I've an issue where a user added a new subdomain after the initial run of lets encrypt and the plugin doesn't seem to support scanning the users domains. Also, I'm not able to remove Certs via the plugin, only create new.

[2016-03-13 23:24] dochardi commented on #18
Good idea @Prajithp

[2016-03-14 04:42] Prajithp commented on #20
For removing certs, you should usw WHM default cert manager.
What did you mean by 'scanning the users domains'?

[2016-03-14 18:48] will-ashworth commented on #18
I'd like to point out that this should be optional for the server administrator to either enable or disable. Some sys admins may not want to nag the customer via email. For what it's worth.

Great idea though. Still onboard.

[2016-03-17 15:29] cjbooth22 opened #21 "Error adding cert for subdomain.example.com"
Hi,

When I try to add a cert to a subdomain I get the following error.

Error occured: Status: 403, Detail: Error creating new cert :: Authorizations for these names not found or expired: imap.pdrnet.biz, www.imap.pdrnet.biz, Type: urn:acme:error:unauthorized

I had no prblem adding to example.com and www.example.com.  Any suggestions?

Thanks for a great plugin.

[2016-03-18 11:02] Prajithp commented on #17
This has been merged into the main branch, please test it out and let me know :+1:

[2016-03-18 11:22] Prajithp commented on #19
This has been fixed in the last merge, please update your code and let me know.

[2016-03-18 11:22] #19 closed, assigned to nobody

[2016-03-18 11:22] #20 closed, assigned to nobody

[2016-03-18 14:32] securitygeneration opened #22 "Happy hacker fake CA"
I tried to install a cert for WHM, and the cert that ends up being installed has the 'Happy hacker fake CA'?

[2016-03-18 17:26] Prajithp commented on #22
This has been fixed now. I forgot to change the acme host to main one.

 my bad!!!! :(

[2016-03-18 17:26] #22 closed, assigned to nobody

[2016-03-18 22:18] mattheobjornson commented on #11
Actually, I think it would be possible using dns-01 challenge combined with some DNS zone modification API calls, instead of file-based http-01 challenge.

[2016-03-18 23:58] MWDelaney opened #23 "Install LetsEncrypt client separately?"
I apologize for asking an extremely basic question, but I need to write up a plan for potentially implementing this plugin on our servers and want to be sure to include everything.

Does the plugin installer also install the LetsEncrypt application, or is that required to be installed separately?

Thanks!

[2016-03-19 00:08] will-ashworth commented on #23
@MWDelaney Do you mean the LetsEncrypt "client"? (the library that this plugin uses)

If that's what you're asking...then yes. I believe it does. It should install dependencies needed in order to run the plugin on your server(s).

[2016-03-19 01:15] will-ashworth commented on #17
@Prajithp  I just did a `git pull` and then `./upgrade.sh`

The colors of the buttons in WHM look different now, and I'm on the newest version. But not seeing anything in cPanel for users to do themselves. Where should I be looking inside cPanel?

[2016-03-19 01:55] MWDelaney commented on #23
I'm sorry, yes, I meant the client. Thank you!

[2016-03-19 01:55] #23 closed, assigned to nobody

[2016-03-19 02:02] dochardi commented on #17
@Prajithp i have just try it on all us cpanel server and its work fine

@will-ashworth maby you need to give the client /user the right do use it and you finde it untder security/ssl ther you see are icon wo say Let's Encrypte

[2016-03-19 05:39] Prajithp commented on #17
@will-ashworth Could you please check the feature manager and see whether it is enabled or not?
@dochardi Thank u for the confirmation.

[2016-03-19 07:24] BeZazz opened #24 "Latest merge issue"
I just updated and there is an issue

CONFLICT (content): Merge conflict in README.md
Automatic merge failed; fix conflicts and then commit the result.

[2016-03-19 07:33] Prajithp commented on #24
Where did you see this error? also, please let me know how to recreate the
same.
On 19-Mar-2016 12:54 PM, "Brendan Butler" notifications@github.com wrote:

[2016-03-19 07:39] BeZazz commented on #24
Running git pull fails on all servers I have tried on.

Nothing I do seems to work git pull is choking on the README.md

Auto-merging README.md
Automatic merge failed; fix conflicts and then commit the result.

[2016-03-19 08:38] Prajithp commented on #24
Can you do one thing, please delete the letsencrypt-cpanel directory and re-clone it?

[2016-03-19 08:39] Prajithp commented on #21
are you sure the mentioned domain is pointing to the same server where you installed the plugin?

[2016-03-19 08:53] BeZazz commented on #24
Yep that worked. (Just deleting the file didn't as I tried before.)

So the fix is to delete the letsencrypt-cpanel directory on all servers?

[2016-03-19 08:55] Prajithp commented on #24
yes, you should delete letsencrypt-cpanel dir on all servers to fix this :(

[2016-03-19 08:55] #24 closed, assigned to nobody

[2016-03-19 08:58] BeZazz commented on #24
Ok thanks :)

[2016-03-19 11:32] cjbooth22 commented on #21
Yes, the cPanel server has about 20 IP's and the IP associated with the PDRnet.biz domain (no point in masking the domain name for obvious reasons) is on the same cPanel server that I installed the plugin.
1.

[2016-03-20 17:35] mwdelaneytwg opened #25 "Works from WHM, does not work from cPanel. No log file."
Hello!
This tool is great! Thank you so much for building this!

I'm having some trouble making it work from cpanel. I'm able to install certificates from WHM with no difficulty, but when I try to install from cpanel I get the following:

[code]

But there is no log file in /var/letsencrypt

Any insight on how I can investigate this issue?

It's perhaps noteworthy that the site I'm attempting to i

[2016-03-24 00:39] dochardi commented on #17
Maby you can do to enable certs by default on all domains and all subdomains without the customer needing to do anything, so the ability to 1- mass enable and 2- enable by default on new domains would be great. Of course letsencrypt ratelimits would need to be managed when doing something like this

[2016-03-24 07:16] alsyundawy commented on #10
solved

clue, uninstall then fresh install

[2016-03-26 13:08] BeZazz commented on #25
Was this a subomain created as its own  account in WHM?

[2016-03-26 14:15] BeZazz opened #26 "Issue with subdomain on different IP or account?"
I set up a subomain via cPanel and installed letsencrypt via cPanel.
(no issues)

I uninstalled the subomain.

I then used the same name and created an account via WHM.
cPanel could not install the cert but WHM could.

[2016-03-26 15:55] comeback01 commented on #21
I have the same problem

[2016-03-26 16:15] comeback01 opened #27 "subdomain, Error occured: Status: 403, solution !"
Sometimes with a subdomain I have this error:

Error occured: Status: 403, Detail: Error creating new cert :: Authorizations for these names not found or expired: xxx.yyy.com, Type: urn:acme:error:unauthorized

I found the following solution:

For example, the domain name is abc.com

My subdomain is 123.abc.com

I put in the DNS, www.123.abec.com

And it works.

[2016-03-31 16:08] Prajithp commented on #17
This will be open till letsencript remove the ratelimit feature.

[2016-03-31 16:09] Prajithp commented on #21
Okay thanks, Will look into this and update you soon.

[2016-03-31 16:10] Prajithp commented on #25
Could you please contact me on prajithpalakkuda@gmail.com? as I need some more details on this.

[2016-03-31 16:10] #25 closed, assigned to nobody

[2016-03-31 16:11] Prajithp commented on #26
What error message are you getting there? I couldn't able to recreate the issue on my stagging server.

[2016-03-31 16:12] Prajithp commented on #27
@comeback01 Thank you so much. Will fix this by end of this week and update you.

[2016-03-31 20:59] BeZazz opened #28 "Two cron entries"
Just noticed this at the bottom of all the root crons I checked.
Also note extra space between \* and /

00 00 \* \* \* /scripts/renew_letsencrypt_ssl.pl > /dev/null 2>&1
00 00 \* \* \*  /scripts/renew_letsencrypt_ssl.pl > /dev/null 2>&1

[2016-04-02 06:38] Prajithp commented on #28
You can remove the duplicate cron entry manually as this has already fixed in the last commit.

[2016-04-02 06:38] #28 closed, assigned to nobody

[2016-04-02 06:41] Prajithp commented on #27
Could you please update your installation and see if this has fixed or not? I could not re-create this issue.

[2016-04-02 06:41] #27 closed, assigned to nobody

[2016-04-13 19:41] Taubin commented on #21
I am having the same issue while attempting to install certs on my sites. I've done a bit of searching and have not been able to find a solution. If I'm able to provide any kind of logs or anything to assist, please let me know.

Error occured: Status: 403, Detail: Error creating new cert :: Authorizations for these names not found or expired: site.com, www.site.com, Type: urn:acme:error:unauthori

[2016-04-14 09:44] setroot opened #29 "Should .well-known/acme-challenge be removed?"
I noticed the folder .well-known/acme-challenge

After doing more research on it, this is what I found.

https://github.com/letsencrypt/letsencrypt/issues/2049
https://github.com/letsencrypt/letsencrypt/issues/1003

On the second link

[2016-04-14 10:04] BeZazz commented on #29
Both those links 404 for me.

[2016-04-14 10:25] setroot commented on #29
@BeZazz I have fixed the links. I don't think this will fix the issue that you brought on https://github.com/Prajithp/letsencrypt-cpanel/issues/26

[2016-04-14 17:37] setroot commented on #26
I also did not encounter any errors.

[2016-04-15 06:13] Prajithp commented on #29
@whosjose Yes, the hidden dir should be removed  afterwards. I will work on this and update here once it is fixed.

[2016-04-16 14:20] nakamuraagatha opened #30 "This my erorr on .xyz domain"
[code]

[2016-04-16 17:20] homotechsual commented on #21
We're also seeing this issue on a cPanel server with Multiple IPs.

[2016-04-16 17:32] BeZazz commented on #26
I am guessing this is the same issue as
https://github.com/Prajithp/letsencrypt-cpanel/issues/21

[2016-04-17 08:29] Prajithp commented on #26
@BeZazz is there any way to recreate this issue? In my system, I couldn't able to recreate.

 If possible, please ping me on prajithpalakkuda@gmail.com

[2016-04-17 08:32] Prajithp commented on #30
This is because of the domain pemadamapi.xyz is simply redirecting HTTPS. Please remove the redirection and try agian.

[2016-04-17 08:32] #30 closed, assigned to nobody

[2016-04-17 14:10] BeZazz commented on #26
From memory.

I created a subdomain (sub.domain.com) via cPanel on a domain with a dedicated IP.

I then decided I wanted to give the subdomain in its own account.

So I removed the subdomain via cPanel.

I then created the same domain (sub.domain.com) via WHM add account.

I was not able to add an SSL Cert via the plugin in cPanel (I couldn't find the logs)

I was able to use the plugin via WHM t

[2016-04-20 18:19] alexkearns opened #31 "Malformed JSON string"
I'm getting the following error when trying to generate a cert for a domain on a CentOS 7.2 server. The error appears when trying in both WHM and cPanel.

`malformed JSON string, neither tag, array, object, number, string or atom, at character offset 0 (before "SSL connection faile...") at /usr/local/cpanel/base/3rdparty/letsencrypt-cpanel-ui/lib/perl5/Protocol/ACME.pm line 1028.`

Installed over

[2016-04-21 00:27] coolacid commented on #21
I think I found the issue.

The plugin will NOT let you create SSL certs for domains that already have SSL certs. So, I deleted the existing ones.

Of course, I had a .htaccess to redirect non-https traffic to https, and since the certs were gone, let's encrypt couldn't verify the certs.

Once I removed these lines from .htaccess, I could create my certs with the plugin, and returned to auto-redir

[2016-04-21 04:09] Prajithp commented on #21
@coolacid Yes, you are right. If the domain has self signed certificate and if you set non-https traffic to https, let's encrypt failed to  verify the certs due SSL warning. Will update the README soon :)

[2016-04-21 04:13] Prajithp commented on #26
@BeZazz Thank you will look into this.

[2016-04-21 04:15] Prajithp commented on #10
@KeithIMyers cPanel has to be fixed this issue as all api calls are failing when 2FA is enabled. If you don't mind could you please open a support ticket with cPanel? I will also check with them

[2016-04-21 13:23] cjbooth22 opened #32 "Update the domain owner email id in whm first"
I am getting this error when trying to add a cert.  Anyone know what is causing this?  It seems to be a new error after upgrading to WHM 56.0 build 5

[2016-04-23 10:46] #31 closed, assigned to nobody

[2016-04-25 18:18] varanasib opened #33 "ACME;pm Error When Trying To Install On WHM services"
Whether I try to install on one of the items listed or several, the plugin reports this error:

`Not an ARRAY reference at /usr/local/cpanel/base/3rdparty/letsencrypt-cpanel-ui/lib/perl5/Protocol/ACME.pm line 713.`

BTW, I love your plugin.  Thanks very much!

[2016-04-25 21:19] comeback01 opened #34 "How to remove a certificate?"
I did not find any option to delete a certificate.

Is it that you can put this option?

[2016-04-25 22:44] cunninghambr commented on #10
root@cpanel [~]# /usr/local/cpanel/whostmgr/docroot/cgi/letsencrypt/letsencrypt.pl
Use of bare << to mean <<"" is deprecated at /usr/local/cpanel/Cpanel/LetsEncrypt/WHM.pm line 127.
Use of bare << to mean <<"" is deprecated at /usr/local/cpanel/Cpanel/LetsEncrypt/WHM.pm line 135.
Global symbol "@subdomains" requires explicit package name at /usr/local/cpanel/Cpanel/LetsEncrypt/WHM.pm line 127.
Glo

[2016-04-26 05:22] Prajithp commented on #10
@cunninghambr , seems your perl is broken. Could please paste here the following commands output to investigate further.

[code]

[2016-04-26 05:23] Prajithp commented on #33
@varanasib Which version of cPanel are you using? Please let me know asap.

[2016-04-26 05:25] Prajithp commented on #34
@comeback01 You can remove the installed certificate from WHM, SSL/TLS »Manage SSL Hosts.

[2016-04-26 05:25] #34 closed, assigned to nobody

[2016-04-26 11:25] cunninghambr commented on #10
@Prajithp
root@cpanel [~]# /usr/local/cpanel/3rdparty/bin/perl -e 'print $] . "\n"'
5.014004
root@cpanel [~]# cat /usr/local/cpanel/version
11.54.0.21
root@cpanel [~]# head -n1 /usr/local/cpanel/whostmgr/docroot/cgi/letsencrypt/letsencrypt.pl
#!/usr/local/cpanel/3rdparty/bin/perl
root@cpanel [~]#

[2016-04-26 14:04] varanasib commented on #33
I'm on version 54.0.21

Oops, 54.0.22

[2016-04-26 14:57] xmovu opened #35 "Logo isn't appearing in cPanel"
Hi folks,

The LetsEncrypt logo isn't appearing in cPanel/WHM.

It tries to load:

https://srv1.testserver.com:2083/cpsess151211/3rdparty/letsencrypt-cpanel-ui/img/icon.png

Any idea?

Template: paper_lantern
WHM 54.0 (build 22)

[2016-04-27 20:11] ghesi commented on #35
Hi,

I have installed today the script and I can confirm that cpanel icon is missing.

[2016-04-27 21:01] ghesi commented on #34
There should be a option in the cpanel plugin so the client can delete a certificate.

[2016-04-27 22:04] JKetelaar commented on #10
I've got the same basic error; 500 error.
This is the result of calling `/usr/local/cpanel/whostmgr/docroot/cgi/letsencrypt/letsencrypt.pl`:

[code]

Any clue on this one?

[2016-04-28 05:13] Prajithp commented on #10
@cunninghambr Could you please update your cPanel installation to latest release as I can see you are still on Perl version 5.14.

[2016-04-28 05:14] Prajithp commented on #10
@JKetelaar Please uninstall and install again, that should fix your issue. Also, please provide the installation output if possible.

[2016-04-28 05:21] Prajithp commented on #35
@mrgeneral @ghesi, cPanel icon is loading fine for me. Could you please reinstall this plugin? and see if it is loading or not?

[2016-04-28 05:23] Prajithp commented on #33
Make sure your server hostname is setup properly. I could not able to recreate this issue in any of our cPanel server.

[2016-04-28 05:23] #33 closed, assigned to nobody

[2016-04-28 05:26] Prajithp commented on #32
You should update the contact address for that domain.

[2016-04-28 05:26] #32 closed, assigned to nobody

[2016-04-28 13:56] cunninghambr commented on #10
@Prajithp  update
/usr/local/cpanel/3rdparty/bin/perl -e 'print $] . "\n"'
5.022001
cat /usr/local/cpanel/version
11.56.0.8
head -n1 /usr/local/cpanel/whostmgr/docroot/cgi/letsencrypt/letsencrypt.pl
#!/usr/local/cpanel/3rdparty/bin/perl

and error persist

[2016-04-28 15:03] BeZazz commented on #11
https://blog.cpanel.com/the-cpanel-market-provider-and-free-hostname-ssls/

[2016-04-28 16:09] xmovu commented on #35
Hello,

Solved, thank you very much for the help and for the great plugin. It is excellent!

[2016-04-28 16:14] JKetelaar commented on #10
Thanks a bunch @Prajithp, works like a charm.

[2016-04-28 18:00] Prajithp commented on #11
@BeZazz I have tried that, but seems it is still in beta

[2016-04-28 18:00] Prajithp commented on #35
@mrgeneral :+1:

[2016-04-28 18:00] #35 closed, assigned to nobody

[2016-04-28 18:00] Prajithp commented on #35
@mrgeneral :+1:

[2016-04-28 18:13] Prajithp commented on #10
@cunninghambr could u plz contact me on prajithpalakkuda@gmail.com? Just would like to discuss more about this issue.

[2016-05-02 18:39] kushalraha commented on #10
Same error as @cunninghambr

Everything updated, reinstalled yet the same.

[2016-05-03 07:56] adminko-svk opened #37 "Renew script not working"
Hi,
I have in crontab:
`00 00 * * *  /scripts/renew_letsencrypt_ssl.pl > /dev/null 2>&1`

But it is not working, in WHM I have domains with expired Let's Encrypt certificates.
Where is the problem? How can I renew it?

[2016-05-05 15:05] ghost opened #38 "Update domain owner email id on subdomains"
When i try to set up an SSL cert for a subdomain, sub.mydomain.com (for example), it says to me "Update the domain owner email id in whm first".
So i went into WHM to the account list and set the user email (the user who was the owner of the domain and the subdomain), but even after setting it, it still gives me the same error. There are no redirects active on the website.
After a few tries i mana

[2016-05-05 16:49] ceesco53 commented on #26
I'm also experiencing this issue and it is the same as issue #21 .  Is there a way to validate a subdomain ssl when the domain already has a cert on a different IP?  Would it be worth trying to hack a PR for this module or is the issue more complicated?

EDIT: I just noticed the error is looking for a www.subdomain.domain.com.  I don't have a www A record under the subdomain.  This might be my fau

[2016-05-05 17:12] Prajithp commented on #26
@ceesco53 Yes, you must create a dns record for both www and non www address as this plugin completely depending on cPanel/WHM api, so if api returns www.sudoman.domain.com and it doesn't have valid A record then letsencrypt verification will definitely fail.

[2016-05-05 18:19] Prajithp commented on #37
I have checked this and confirmed renewal script is working fine. Could you please provide log file /var/letsencrypt/letsencrypt.log?

[2016-05-05 18:19] #37 closed, assigned to nobody

[2016-05-05 18:20] Prajithp commented on #38
This has been fixed on last commit.

[2016-05-05 18:20] #38 closed, assigned to nobody

[2016-05-06 05:24] adminko-svk commented on #37
I have there 30x the same error:

`Failed to renew SSL certificate for hostname : Died at /usr/local/cpanel/Cpanel/LetsEncrypt/Service.pm line 147.`

[2016-05-06 14:12] varanasib opened #39 "Upgrade Instructions in README Don't Work-Remove, Install Does"
The instructions on how to upgrade in README don't work.  Following them for the last upgrade results in errors like those in #10.  (@INC path errors for Protocol::ACME and cpanel reporting "No response from subprocess" etc.)  The plugin doesn't use the system's Protocol::ACME, I guess.

Uninstalling and installing again per the README worked fine.

Again, this is a great plugin.  Thanks so much.

[2016-05-06 22:05] clarjon1 opened #40 "Unable to select which domains in cpanel account to create cert for"
Hello,

After using the addon, I have discovered an issue:

There is no way to select which domains attached to a cpanel account to generate a certificate for.

I have a cpanel account that is used not only to host a site, but to manage DNS for a few other domains, as creating a DNS zone in cpanel **requires** an existing account to attach the zone to for management purposes.  For an account like

[2016-05-07 07:06] Prajithp commented on #40
So you would like to see an option to select and de-select domain aliases before attempting to generate let'sencrypt certificate right?

[2016-05-07 07:24] Prajithp commented on #39
Thank you so much for the bug report :)

 This has been fixed now.

[2016-05-07 07:24] #39 closed, assigned to nobody

[2016-05-07 08:26] Prajithp commented on #37
@adminko-svk This has been fixed in the last commit.

[2016-05-07 16:09] LanceSandino commented on #37
Can't locate Cpanel/LetsEncrypt.pm in @INC (@INC contains: /usr/local/cpanel/base/3rdparty/letsencrypt-cpanel-ui/lib/perl5 /usr/local/lib64/perl5 /usr/local/share/perl5 /usr/lib64/perl5/vendor_perl /usr/share/perl5/vendor_perl /usr/lib64/perl5 /usr/share/perl5 .) at /scripts/renew_letsencrypt_ssl.pl line 8.
BEGIN failed--compilation aborted at /scripts/renew_letsencrypt_ssl.pl line 8.

[2016-05-07 20:18] Prajithp commented on #37
A re-installation would fix this issue. Please let me know if you are still facing the same problem even after the reinstall.

[2016-05-09 08:04] ghost opened #41 "403 error: Authorizations for these names not found or expired"
Hi,
From the first time i tried to create an SSL certificate, i continue to get this error

`Error occurred: Status: 403, Detail: Error creating new cert :: Authorizations for these names not found or expired: sub.domain.com, www.sub.domain.com, Type: urn:acme:error:unauthorized`

I managed to install a cert on a domain (let's say www.domain.com), but when i try to install the certificate on a dif

[2016-05-09 08:17] ghost opened #42 "cpanel plugin window not working"
While trying to solve [this](https://github.com/Prajithp/letsencrypt-cpanel/issues/41) problem, I tried for the first time to enter the cpanel plugin interface (up until now I was doing everything on the WHM page), but it downloaded the index.live.pl file rather than open it.
I thought it was useful to say it, probably it was just an oversight...
My Cpanel doesn't have a valid SSL cert, or at leas

[2016-05-09 08:23] BeZazz commented on #42
Sounds like your server is setup incorrectly .i.e. Not setup to run pearl files.

[2016-05-09 08:42] ghost commented on #42
Hi, thank you for your immediate answer, I'm not the one who installed cpanel on that machine, but i guess you're probably right. Do you know how it should be setted up? Looking on the net i saw some pages that were talking about installing pearl modules under Cpanel->Software->Pearl module , however i don't really know what to look for. The current user doesn't have any specific perl module insta

[2016-05-09 09:07] BeZazz commented on #42
Start with error logs
https://documentation.cpanel.net/display/ALD/Perl+Module+Installation#PerlModuleInstallation-Errorlogs

[2016-05-09 12:57] ghost commented on #42
Ok, mine it's about 2200 rows long, but i hadn't seen anything like `Can't locate DB_File.pm in @INC`, which was listed in the link you sent...

[2016-05-09 13:07] Prajithp commented on #42
@AndreaDrago96 cPanel installation seems to be broken in your case. So could you please run upcp with force argument? and let me know.

[2016-05-09 13:11] Prajithp commented on #41
No, it should list all files in that directory. Could you please check the permission of "/home/domain/public_html/sub/.well-known/" directory and all inner directories?

[2016-05-09 13:18] ghost commented on #42
upcp is the update script, right? I'm a little worried because there are different active costumer websites, so I can't afford to turn them down. Moreover, every other component in both whm or cpanel work prefectly, so it seems a little strange that the installation is broken...

[2016-05-09 15:17] ghost commented on #41
Hi, thank you for your help,
the folders have a read permission for both group and others. This probably means that there's an apache configuration that is avoiding files and folders starting with dot from being read. But still I don't know how to override it. I tried putting a .htaccess within the .well-known with this code:
`Options All`
`Order allow,deny`
`Allow from All`
But it still doesn't w

[2016-05-09 17:36] clarjon1 commented on #40
Yes, that would be excellent!

[2016-05-10 04:16] divemasterza commented on #41
I have also the **403 error** when creating the new certs.
I can list all the ACME challenges situated in /.well-known from the browser, and a new file is definitely being created on a new cert request.

It seems to happen only with **newly created subdomains**, I can generate a cert for an old domain without any errors

[2016-05-11 19:49] alsyundawy opened #43 "add button for renew & delete ssl"
Can you add this fiture ?

[2016-05-13 20:15] ian81 commented on #41
I have the same issue. Running domain + subdomain on CentOS7.x, cpanel56. Certificates on Domains/subdomains created many years ago on the same server seemed to work fine. Let me know what I can do to assist with troubleshooting,

[2016-05-13 20:16] ian81 commented on #29
Still present based on fresh install on May 11, 2016.

[2016-05-14 03:34] setroot commented on #29
@ian81 Yes, there hasn't been an update as of yet. Once an update kicks in the issue would be closed.

[2016-05-14 09:14] Prajithp commented on #29
I have merged this feature into the main branch, please check it out and let me know. Will close this issue after that.

 Thanks :)

[2016-05-14 09:18] Prajithp commented on #42
Nothing will happen if you run upcp, don't worry about that. Normally this can happen if cpanel cgi doesn't work properly, so please let me know if you need any further help for fixing this issue. You can contact me on prajithpalakkuda@gmail.com.

[2016-05-14 09:18] #42 closed, assigned to nobody

[2016-05-14 09:22] Prajithp commented on #43
Delete ssl button make sense :+1:
We have already implemented a cronjob for renewing SSL certificate, so I don't think this is really needed.

[2016-05-14 09:25] Prajithp commented on #41
@divemasterza @ian81  make sure you subdomains are correctly pointing to the server. For newly created subdomains, please allow few mins to propagate the DNS everywhere otherwise let'sencrypt may failed to reach the server and return 403 error while validating domain ownership.

[2016-05-14 09:26] Prajithp commented on #40
Thank you, Will work on this when I get much free time :)

[2016-05-14 09:33] divemasterza commented on #41
Nope, definitely not that :( domain is resolving perfectly from the outside world. Defintely not a DNS propagation issue!

[2016-05-14 09:40] Prajithp commented on #41
re-opening it. @divemasterza Could you share the domain names with me?

[2016-05-14 10:10] divemasterza commented on #41
Sure you can try http://surveys.progressive-personnel.com

Domain was setup a couple days ago and I get the 403 error when requesting a cert.

It seems the issues started with 11.56.08 (can't confirm this though)

[2016-05-14 13:53] jaggad commented on #41
Possible due to redirecting all http traffic to https causing self-signing loop when trying to get cert for subdomain .

Had the same issue: removed .htaccess redirect, added subdomain cert, added .htaccess redirect back in. Solved it for me

[2016-05-14 13:54] jruston commented on #10
Same problem with 2 factor authentication turned on.

"500

No response from subprocess (/usr/local/cpanel/whostmgr/docroot/cgi/letsencrypt/letsencrypt.pl): The subprocess reported error number 255 when it ended."

Works perfectly fine in cPanel, just not WHM. 2FA is enabled on both the cPanel and the WHM account.

[~/letsencrypt-cpanel]# /usr/local/cpanel/3rdparty/bin/perl -e 'print $] . "\n"'
5.

[2016-05-15 05:55] insxa commented on #43
Yes it needs to be added renew and delete button. And even if it renew it automaticaly, maybe for someone will not work that option

[2016-05-16 05:23] alsyundawy commented on #43
add button too for reinstall :dango:

[2016-05-16 13:30] hbouma commented on #11
While its great that your plugin can now install certs for the cPanel services, could you not have it automatically do it? Your plugin has happily overwritten my paid for valid certs with Let's Encrypt certs. I was not happy to see that.

[2016-05-16 13:53] ian81 commented on #41
Subdomain has been active and working for approx. 1 month. No http to https redirection in the .htaccess, also removed any certs on the parent domain. Parent domain encounters the same error when trying to obtain SSL. Running latest cPanel (11.56.14). The subdomain was created with cPanel 11.54. The '.well-known/acme-challenge' files are getting created. Is there a log file that captures where/how

[2016-05-16 14:18] ian81 commented on #29
Updated the script. Tested on a couple of domains. Seems to remove the files after the cert is installed.

[2016-05-16 18:51] clarjon1 commented on #40
Cool. I'll let my boss know this feature should be coming :)

Thanks for your time!

[2016-05-18 03:46] snzmnrdn opened #44 "Problem with WWW and non WWW"
As i check and investigate, for non www working. with www not working. This is happen when you have alot of domain in 1 cpanel. Example

Primary domain - _abc.com_

**BUT** you install _def.com_ for ssl, so the Lets Encrypted registered your def.com as _def.abc.com_

so _www.def.com_ cannot be access. You only can access your SSL on _www.def.abc.com_

Im not sure this plugin working on subdomain o

[2016-05-18 17:03] hostfusion commented on #11
Hello,

the plugin have overwritten the COMODO ssl provided by cPanel for WHM services with Let´s encrypt SSL, the cPanel SSL was for one year, how to revert this issue ?

Regards

PS

[2016-05-18 17:12] Prajithp commented on #11
@hostfusion @hbouma  The plugin won't overwrite your existing certificate automatically, But It could happen if you click on the "Install letsencrypt on whm services" and then click the submit button.

[2016-05-18 17:39] hostfusion commented on #11
Hello Prajithp,

thanks for reply, i have tested in 4 different servers, none have pressed the button to install let's encrypt in whm, however ssl cpanel all have been overwritten by  let's encrypt certificates.

Regards

PS

[2016-05-18 17:44] hostfusion commented on #11
Hi again,

i have revert and issue again the cPanel SSL from Manage Service SSL Certificates, i hope this help other people with same issue.

Regards

PS

[2016-05-18 18:01] hbouma commented on #11
I didn't click on the "install letsencrypt on whm services" button either and it replaced both my servers' cpanel ssl certificates as well.

[2016-05-19 07:39] Prajithp commented on #11
@hbouma @hostfusion There was a bug in the Service.pm module which was causing this issue. This has been fixed in the last merge.

[2016-05-19 07:39] #11 closed, assigned to nobody

[2016-05-19 07:42] Prajithp commented on #41
@divemasterza In your case the subdomain alias www.surveys.progressive-personnel.com is not resolving properly.

Will add an option to select alt-domains, so that these kind of issues will be fixed.

[2016-05-19 07:45] hostfusion commented on #11
Hello @Prajithp ,

thanks a lot for you time revising and fixing this issue

Regards

PS

[2016-05-20 01:03] hbouma opened #45 "32x32 icon for x3/retro theme"
Hi,

Is there any chance we could have a 32x32 icon done for the x3 and retro themed skins? Or for rvskin and third party skins as well... For some reason the 48x48 icon doesn't show up in the security section (and looks out of place if its there) when using the depreciated theme or the retro style.

Thanks. Your plugin is really nice btw.

Hal

[2016-05-21 07:44] hostfusion commented on #11
Hello @Prajithp,

i reopen this ticket because the upgrade on the file lib/Cpanel (fix for default ssl certificate overwrite) don´t fix the issue, still overwrite the default cPanel ssl certificate every day with Let´s encrypt certificate.

Would you please verify this issue ?

Regards

PS

[2016-05-23 03:54] AbdelElrafa commented on #17
How can I disable this? I don't want users to be able to do it, just the root user in WHM to do it?

[2016-05-23 04:23] Prajithp commented on #17
@CapnKlutch You can disable this from the WHM feature manager.

[2016-05-23 15:26] sathyavpk commented on #21
Any issue when using in a server where ndeploy installed?
I am getting the error when trying to install ssl certs for the whm services

Error occurred: Status: 403, Detail: Error creating new cert :: Authorizations for these names not found or expired: lx.XXXX.com, Type: urn:acme:error:unauthorized

CENTOS 7.2 x86_64 standard – lx  WHM 56.0 (build 18)

[2016-05-24 06:50] sathyavpk commented on #21
I got it solved by reinstalling the ndeploy script after installation of letsencrypt plugin and it worked fine.

Thank you

[2016-05-24 10:17] box-as opened #46 "Auto redirection not working"
Hi Prajith,
]
Hope you are doing great! I tried using this plugin at my end but found that the domain name does not automatically redirect to https protocol. While if I type https://example.com then it works but if I type http://example.com it stays to non secure url without https. I tried adding manual redirection from cpanel and .htaccess but that didn't worked either, the webpage stops working

[2016-05-25 21:16] gpant opened #47 "WHM Services certificate is issued even if it has a valid certificate and is re-issued daily"
The Services certificate is forcefully issued even though a certificate is already used, in our case our certificate is getting replaced by the lets encrypt certificate every time. Since we didnt want to change it back everytime we decided to let it use the lets encrypt certificate. But now on each cron run it issues a new certificate for the services.

[2016-05-26 04:51] Prajithp commented on #47
This has been fixed in the last merge. Please check it out and let me know.

[2016-05-26 04:51] #47 closed, assigned to nobody

[2016-05-26 04:54] Prajithp commented on #46
This has to be done from your end. Letsencrypt doesn't setup any kind of redirection in your htaccess file. Please check your web application settings and configure your htaccess accordingly.

[2016-05-26 04:54] #46 closed, assigned to nobody

[2016-05-26 04:57] Prajithp commented on #45
@hbouma Would you able to create one icon for this? Otherwise, I will work on this weekend.

[2016-05-26 05:00] Prajithp commented on #29
@ian81 Thank you for the confirmation.

[2016-05-26 05:00] #29 closed, assigned to nobody

[2016-05-26 12:01] insxa opened #48 "cPanel/WHM auto install certificate"
In my panel it auto install certificate for cpanel and whm, but i have free cpanel ssl certificate for server. How can it be disabled ?

[2016-05-26 12:04] Prajithp commented on #48
This has already been fixed in the last commit, please update the plugin and let me know.

[2016-05-26 12:04] #48 closed, assigned to nobody

[2016-05-26 23:59] Blindmikey opened #49 "How do I enable ssl for email? Add mail.domain.com to cert?"
First, thank you for this wonderful plugin. I came from the beta command line interface from letsencrypt, and while that worked for me on my own home server, setting up the same on a centOS RHEL box with heavy integration with cPanel/WHM was not an ideal solution.

Finding this cpanel plugin was a life saver - thank you!

There are a few last pieces I'm attempting to rectify, one of which is enabl

[2016-05-27 12:00] itseasy21 commented on #43
+1 For this request, please add a **DELETE** button

PS: Thanks for this awesome plugin :dancers:

[2016-05-27 12:02] itseasy21 commented on #44
It happened with me also, the plugin took the internal subdomain rather then the main domain and then the www.subdomain.maindomain.com was not available so it threw error

[2016-05-27 12:26] itseasy21 commented on #45
32x32 icon here : [http://i.imgur.com/uxzLutN.png](http://i.imgur.com/uxzLutN.png)

[2016-05-28 02:27] jaggad opened #50 "Upgrade plugin button from within WHM"
It would be nice if there was a button to upgrade the plugin from within the WHM interface, for simplicity purposes.

[2016-05-28 21:42] ivspassov commented on #33
Not an ARRAY reference at /usr/local/cpanel/base/3rdparty/letsencrypt-cpanel-ui/lib/perl5/Protocol/ACME.pm line 718.

[2016-05-28 21:43] ivspassov opened #51 "Not an ARRAY reference at /usr/local/cpanel/base/3rdparty/letsencrypt-cpanel-ui/lib/perl5/Protocol/ACME.pm line 718."
I'm getting this error , after trying to install certificate:
Not an ARRAY reference at /usr/local/cpanel/base/3rdparty/letsencrypt-cpanel-ui/lib/perl5/Protocol/ACME.pm line 718.

[2016-05-30 10:01] FreddyFoxxx opened #52 "Hi plugin problem on CPanel"
Hi to all thanks very much for the plugin and work ..

I have this problem let me every day certifies the SMTP mail certificate dovecot etc .. on this cron I found this:

  00 00 \* \* \* /scripts/renew_letsencrypt_ssl.pl> / dev / null 2> & 1

to not have every day the renewal ??

[2016-05-30 17:18] itseasy21 opened #53 "No Option to Install SSL ( Alias )"
I am getting no option to install SSL on the parked domains.

[2016-06-02 14:55] ssteeltm opened #54 "dns-01 challenge"
Would be great if enable the use of dns-01 challenge to install new cert.
If so, when adding new cert, ex:  domain.com , would be able to generate this cert with these SAN names:

[code]

[2016-06-02 15:41] ssteeltm opened #55 "option for auto enable SNI"
would be great an option to enable SNI(server name indication) for Mail Service, when adding new certificate.

*Today I have to do it manually on WHM > Manage SSL Hosts , and enable each one.

Why enable SNI ?
Example:
my server domain => domain.com
whm services ssl (Calendar, cPanel, WebDisk, Webmail, and WHM Services, exim, dovecot, ftp) cert. generated and installed by letsencrypt-cpanel plugin

[2016-06-02 17:37] Prajithp commented on #49
You have to create mail.domain.com subdomain first and then you can generate cert for the same using letsencrypt plugin.

[2016-06-02 17:37] #49 closed, assigned to nobody

[2016-06-02 17:38] Prajithp commented on #51
Not sure what could be the issue. Could you please reinstall and see if the issue is still persist.

[2016-06-02 17:38] #51 closed, assigned to nobody

[2016-06-02 17:39] Prajithp commented on #53
Just install the cert for main domain, that will enable cert for parked domains as well.

[2016-06-02 17:39] #53 closed, assigned to nobody

[2016-06-02 17:41] Prajithp commented on #52
Please update to latest version. That would fix your issue.

[2016-06-02 17:41] #52 closed, assigned to nobody

[2016-06-02 17:43] Prajithp commented on #10
@jrustonapps @kushalraha I'm not able to recreate this issue on any of my test boxes, so seems to be server configuration issue. Please contact me on prajithpalakkuda@gmail.com if you need any further assistance.

[2016-06-02 17:43] #10 closed, assigned to nobody

[2016-06-02 17:44] #17 closed, assigned to nobody

[2016-06-02 18:15] ivspassov commented on #51
Funny thing is , that it worked for one domain name , and it wont work for another...

[2016-06-03 20:45] ian81 commented on #41
I am still having the same issue on a domain and subdomain. Its running drupal. I temporarily renamed the .htaccess file and updated to the latest script build (~9days ago). Same issue. Domain resolution works externally from multiple testing sources. Can view the /well-known/ challenges when the .htaccess file is renamed.

[2016-06-04 08:15] Prajithp commented on #45
Added  32x32 icon for x3.retro theme.

[2016-06-04 08:15] #45 closed, assigned to nobody

[2016-06-06 03:07] dbiers opened #57 "urn:acme:error:unauthorized"
Getting this error that we're unauthorized for getting the verification from LetsEncrypt.

[code]

A couple of things about the environment.
- open_basedir is currently active to prevent any out-side browsing of the users/accounts.
- suPHP/suExec is currently active as a security measure.
- mod_security is currently active (as we have many problems with attacks).  I do not see any rules being trig

[2016-06-06 03:53] dbiers commented on #57
I can see the systems reaching the verification, but I don't know why it's failing.  Maybe someone else has a clue?

[code]

[2016-06-06 04:20] hbouma commented on #45
Awesome. Thanks for your help!

[2016-06-07 16:24] joshkraemer opened #58 "Protocol::ACME is NOT installed"
I'm trying to install the plugin, but I get the following message which halts the installation process. I do what the plugin suggests (install using /scripts/perlinstaller - appears to be successful), but I still don't see anything under the plugins section in cPanel WHM. From what I can tell, I believe this error could be related to the fact that I am on an older version of Centos (CENTOS 5.11 i6

[2016-06-07 23:33] Kateicon opened #59 "Not detecting Protocol::ACME"
ran the install.sh, didnt find Protocol::ACME installed, tried to install it and failed.

installed it manually via the provided command - /scripts/perlinstaller Protocol::ACME

this ran through and installed it with no problems, but the install.sh still can't find it.

Protocol::ACME is NOT installed
Installing Protocol::ACME
.....
.....
 Testing  perl modules we just installed`
.....
Protocol::A

[2016-06-07 23:48] Kateicon commented on #59
woops, dupe of https://github.com/Prajithp/letsencrypt-cpanel/issues/58

[2016-06-07 23:48] Kateicon commented on #58
Glad to see I'm not alone.

I'm also on older Centos, so you might be on to something there.

[2016-06-10 14:53] jruston commented on #41
I am also having this problem.

[2016-06-11 21:56] WilliamIsted commented on #41
@jackedgson solution worked for me after months of reinstalling the plugin, I was adamant that I'd broken something when cloning and using the official Let's Encrypt git repo. Renaming the .htaccess file (removing the redirect to https) instantly allowed the cPanel plugin to complete and install the Cert.

I added the following line to `.htaccess` directly under `RewriteEngine On`:
`RewriteRule ^.

[2016-06-11 23:56] jaggad commented on #41
@WilliamIsted Ah, nice little line of code, I didn't even think of doing something like that (I've just been commenting out the redirect and adding it back it). Anyway, I'm glad I could help out with the issue.

[2016-06-14 05:14] will-ashworth opened #61 "Internal Server Error (500) on cPanel DNS Only"
CentOS release 6.8 (Final)

INSTALLATION OUTPUT:

[code]

DETAILS ABOUT THE ERROR:

[code]

[2016-06-14 05:15] will-ashworth commented on #61
ADDITIONAL DETAILS:

[code]

[2016-06-14 23:01] will-ashworth opened #62 "Authorizations for these names not found or expired"
I have `ads.mydomain.com` added as a cPanel account (subdomain added as a separate cPanel account), and when attempting to register SSL for it, I'm greeted with the following message. Any ideas?

[code]

We don't use `www.ads.mydomain.com`, but the LE plugin is attempting to test on the `www` version of the domain. Any help you can offer is appreciated. Thanks!

[2016-06-14 23:56] will-ashworth commented on #62
I'll note that creating another DNS entry so that `www.ads.mydomain.com` resolves to `ads.mydomain.com` resolved the issue. Because the verification should work then.

But still, we shouldn't need to create unused DNS records. The system should know if we're using `www.` or not   ;-)

[2016-06-15 19:24] ian81 commented on #41
Thanks @WilliamIsted ! the " RewriteRule ^.well-known(.*)$ - [L,NC] " bit worked awesome for me. I did not have the "Header always set Strict-Transport-Security" in my .htaccess file.

[2016-06-16 14:39] itseasy21 commented on #58
Have you tried running
`/scripts/perlinstaller Protocol::ACME`

[2016-06-17 03:10] Kateicon commented on #58
Yes.

Get Outlook for Androidhttps://aka.ms/ghei36

On Fri, Jun 17, 2016 at 12:38 AM +1000, "Shubham Mathur" <notifications@github.com<mailto:notifications@github.com>> wrote:

Have you tried running

/scripts/perlinstaller Protocol::ACME

##

You are receiving this because you commented.
Reply to this email directly, view it on GitHubhttps://github.com/Prajithp/letsencrypt-cpanel/issues/58#issuec

[2016-06-21 02:28] ivanhosgood commented on #62
Will, thanks for posting the resolution to this issue, been scratching my head with this one

[2016-06-21 13:29] AlsonicTech opened #63 "Permission denied on Cpanel and loop loading on WHM"
First issue is that when I try accesing Let`s encrypt plugin from WHM it goes in an infinite loop loading.
Second issue is that when I try adding the certificate from cPanel I get this error message:

[2016-06-21 13:43] webspes commented on #62
Please let us know when this is fixed in the source code. I downloaded/installed code today (upgrade) and that didn't help.

[2016-06-21 13:50] locusluxlucis opened #64 "AH00548: NameVirtualHost has no effect and will be removed in the next release /usr/local/apache/conf/httpd.conf:307"
Critical error with httpd once an SSL is installed on a domain.  Fresh clean WHM install. No other modules installed. Centos w/ WHM V56.0 Build 22

[2016-06-21 13:51] locusluxlucis commented on #64
Fresh clean WHM install. No other modules installed.

[2016-06-21 15:22] will-ashworth commented on #62
@pmax1 Try uninstalling, then immediately reinstalling. That may resolve your issue.

@ivanhosgood No problem! Glad it helped someone.

[2016-06-21 16:16] Prajithp commented on #64
You can ignore that massage as it is normal.

[2016-06-21 16:16] #64 closed, assigned to nobody

[2016-06-21 16:19] Prajithp commented on #63
Please make sure that root user has rights to create directory's in  public_html folder.

[2016-06-21 16:19] #63 closed, assigned to nobody

[2016-06-21 16:23] Prajithp commented on #62
@will-ashworth Thanks you so much for the fix. I was really busy with my other projects  and some other family issues.

Also, I'm planing to add an option to select domains instead of adding aliases blindly. Will update you, when it is available for testing.

[2016-06-21 16:23] #62 closed, assigned to nobody

[2016-06-21 16:24] Prajithp commented on #61
Are you still facing the same problem? Could you please send me the cpanel error_log file to prajithpalakkuda@gmail.com?

[2016-06-21 16:24] #61 closed, assigned to nobody

[2016-06-21 16:25] Prajithp commented on #59
Please install the module using  command "/scripts/perlinstaller   Protocol::ACME" and let me know

[2016-06-21 16:25] #59 closed, assigned to nobody

[2016-06-21 16:27] Prajithp commented on #58
@itseasy21 Thank you so much for helping out him.

[2016-06-21 16:27] #58 closed, assigned to nobody

[2016-06-21 16:27] #21 closed, assigned to nobody

[2016-06-21 16:29] Prajithp commented on #50
You can simply upgrade this by running upgrade script from the console. I don't think it is really needed.

[2016-06-21 16:29] #50 closed, assigned to nobody

[2016-06-21 16:31] Prajithp commented on #41
@WilliamIsted if you don't mind, Could you please update this in the Readme file and create a PR?

[2016-06-21 16:31] #41 closed, assigned to nobody

[2016-06-21 16:33] Prajithp commented on #57
@dbiers Please check this #41

[2016-06-21 16:33] #57 closed, assigned to nobody

[2016-06-21 16:37] Prajithp commented on #44
Yes, it is because of when you create subdomain, cPanel will automatically add www.subdomain.maindomain.com and subdomain.maindomain.com to the system and when I make api calls, both will return as valid domain names.

 Will add an option to select domains when you click on install certificate button, so that these types of issues can be avoided.

[2016-06-21 16:37] #44 closed, assigned to nobody

[2016-06-21 17:35] gvibrations commented on #62
@will-ashworth Which way did you create another DNS entry? I've been pulling my hair out on this one. I just uninstalled and reinstalled the code ... but I still can't create the cert.

Should note that I'm doing this on a server with a WP Multisite running ... can't create the cert on an addon domain.

[2016-06-21 17:39] will-ashworth commented on #62
Hey @timcaviness

I went into DNS where DNS is managed for that domain name (in my case, Cloudflare); then I added the `www` CNAME to `mydomain.com`. Then I re-tried creating the cert. It worked because DNS for that domain was available for ACME to successfully "validate" the domain name.

Right now, this plugin for certificates attempts to secure the `www` version of the domain as well. Normally

[2016-06-21 17:49] gvibrations commented on #62
That did it!

I'm using Cloudflare for both the domain.com and the subdomain.com ...

I went to the domain.com site in cloudflare, created a CNAME for `www.subdomain` that pointed to `domain.com` and the plugin worked like normal.

Kudos.

[2016-06-21 18:04] webspes commented on #62
"Try uninstalling, then immediately reinstalling. That may resolve your issue."

It is only a problem for sub-domains like the other people here is commenting. It works for normal domains. I assume this isn't fixed in the code just now?

[2016-06-21 18:09] will-ashworth commented on #62
Great @timcaviness Glad you were able to get it working  :)

[2016-06-21 18:11] will-ashworth commented on #62
@pmax1

@Prajithp posted earlier today that it's on his radar to fix this at the code level. Creating the DNS entry is merely a workaround solution in the interim.

[2016-06-21 22:04] Kateicon commented on #59
As I said in my original post **I ALREADY TRIED THAT**.

[2016-06-22 06:03] will-ashworth commented on #59
@Kateicon

And as @Prajithp said in his post "please" and "let me know".

Other things you can try:
- including a copy of your logs pertinent to this issue
- ensuring that what the script is looking for is, in fact, in your "path"
- closing your terminal window, and re-opening it (essentially re-sourcing your path variables after install)
- contributing to development (it's open source, after all)

[2016-06-22 10:54] Kateicon commented on #59
I did let him know, in my original post.

[2016-06-22 14:01] SdupuisBlax commented on #58
@Prajithp why has the issue been closed when there have been no fixes posted..., @itseasy21 suggested running the perlinstaller but the original issue description shows he tried that (and so have I) and it doesn't work!

Here is output from pearlinstaller and install.sh :

[code]

[2016-06-22 14:30] will-ashworth commented on #58
Couple of things that come to mind:
- Ensure host name is set correctly
- CentOS 5 doesn't support SNI, so you're going to run into issues if you don't have static IP addresses for everything
- Ensure you are not using 2FA for root (it may work at this time, but I recall there being an issue at one point)

Hope this helps someone.

[2016-06-22 14:48] SdupuisBlax commented on #58
So the actual issue is that let's encrypt can't be supported properly on WHM/cPanel on CentOs 5? **That should be specified somewhere, perhaps on the README.MD**.

I know CentOS 5 is on EOL for WHM/cPanel support but a lot of servers are still running on it.

[2016-06-22 14:59] will-ashworth commented on #58
I didn't say "not supported". I did say you'd need static IP addresses on everything. One of the big reasons a lot of people abandoned CentOS 5 years ago in favor of 6, is that SNI was supported. This meant less static IPs needed.

It is stated in the previous issues (I'm the one that mentioned it a few months ago), but you're welcome to contribute to the README if you like.

Are you fully updated

[2016-06-22 15:04] SdupuisBlax commented on #58
It's fine for me, i'll just update the server to newer OS, it was on our TODO list anyway before fall 2016 so this is a good reason to push forward. Although, to answer, yes I keep an updated server aside from still rolling on CentOS 5. I don't have enough static IPs for my needs also.

Perhaps it is supported but it requires a few workarounds and defeats the purpose of actually using let's encryp

[2016-06-26 10:28] adam-codeberg opened #67 "[WHM 56.0 (build 24)] Install Letsencrypt Cert > mkdir permission error"
On installing to any vhost from within WHM

mkdir /home/vhost-name/public_html/.well-known/acme-challenge: Permission denied at /usr/local/cpanel/Cpanel/LetsEncrypt/Challenge.pm line 66.

On installing from within vhost cpanel account

mkdir /home/vhost-name/public_html/.well-known/acme-challenge: Permission denied at /usr/local/cpanel/Cpanel/LetsEncrypt/Challenge.pm line 73.

[2016-06-26 10:34] adam-codeberg commented on #67
Letsencrypt-auto was previously run as root and created a .well-known folder as root user.
Removed folder and re-ran.
Resolved.

[2016-06-26 10:34] #67 closed, assigned to nobody

[2016-06-29 14:36] slrslr opened #68 "I installed, but Letsencrypt manager is not opening in WHM"
Hello,

i just installed latest version according to instructions on my WHM server with result:
letsencrypt-cpanel-ui registered
Successfully installed letsencrypt manager

I go to WHM / Plugins / Letsencrypt
But the window  is loading and loading and nothing. Other plugins work.

Do i need to configure firewall (CSF) anyhow or what to check please? I do not see anything strange in cpanel error_lo

[2016-07-02 13:00] ivanov77 opened #69 "Not an ARRAY reference at /usr/local/cpanel/base/3rdparty/letsencrypt-cpanel-ui/lib/perl5/Protocol/ACME.pm line 718."
When add SSL: Not an ARRAY reference at /usr/local/cpanel/base/3rdparty/letsencrypt-cpanel-ui/lib/perl5/Protocol/ACME.pm line 718.

[2016-07-04 02:30] lukealford opened #70 "Subdomains Certficates."
Looks like the plugin doesn't look at sub domains. Can't seem to get my sub-domains in the list from Cpanel.

[2016-07-04 06:17] Kurounin commented on #70
It works for me. Check if you already have ssl certificates for those subdomains, in which case you would need to remove them first to be displayed in the list.

[2016-07-06 15:48] nickmack123 commented on #69
Getting the same error. Maybe I can give you a little more info.

Only happens for 1 domain in the account, the rest work.  Odd thing is that the app was able to generate a cert for a subdomain on that domain.  Line 718 is in the authz function so I thought it may be htaccess related so I renamed the htaccess and still did not work.

[2016-07-11 08:41] Robvred commented on #70
Hi, I receive http01 error on all subdomains, but all dns it's fine, do you have an idea ?

[2016-07-11 09:39] WilliamIsted commented on #70
@Robvred can you access the files within `.well-known` via a url request?

[2016-07-11 09:50] Robvred commented on #70
Yes and by security have add this rule RewriteRule ^.well-known(.*)$ - [L,NC] in .htaccess.
If i go to acme-challenge sub directory i see txt created by let's encrypt, but i receive always this error for all sub domains.

[2016-07-12 05:53] itseasy21 commented on #68
Have you tried reinstalling it ?
Sometimes a reinstall fixes these type of issues,

Btw can you tell me your cPanel version ?

[2016-07-12 07:35] Prajithp commented on #68
Also, please provide your cPanel error log file. It would be easier for us to troubleshoot these kind of issues.

[2016-07-13 16:15] slrslr commented on #68
When i watch /usr/local/cpanel/logs/error_log and click Letsencrypt menu item in WHM, only following log entry is added:

from the time page /cgi/letsencrypt/letsencrypt.pl started loading untill it fails around 10 minutes later with error "The connection to the server was reset while the page was loading.".

Above mentioned log entry is added before and after so it may/may not be related to this

[2016-07-14 05:37] uhlhosting opened #71 "HTTP-01 error"
Error occurred: Status: invalid, Detail: , Type: http-01

[2016-07-14 05:43] Prajithp commented on #71
When did you install this? Could you please try a reinstall and let me know?

[2016-07-14 06:01] uhlhosting commented on #71
Another issue, icon not visible on Cpanel 58. http://prntscr.com/bsowyp

I uninstalled / reinstalled

Now I get this:
malformed JSON string, neither tag, array, object, number, string or atom, at character offset 0 (before "Could not connect to...") at /usr/local/cpanel/base/3rdparty/letsencrypt-cpanel-ui/lib/perl5/Protocol/ACME.pm line 1044.

[2016-07-14 07:59] dion007 opened #72 "Can not renew ssl"
Hi i found some ssl which expired on my server.
I also have website which is use letsencrypt by this plugin, but ssl on my website expired and can not renew automatically.

how to resolve this?
thank you

[2016-07-14 10:30] Unyxos commented on #71
Have the same issue on a domain and it works with another one, both have same settings on my cPanel

[2016-07-14 10:37] Unyxos opened #73 "Add possibility to force https instead of http"
Please is it possible to add the forced https feature ?

Should be a nice feature !

[2016-07-14 12:33] timdelange commented on #71
I'm also getting
 Error occurred: Status: invalid, Detail: , Type: http-01
CLOUDLINUX 6.8 x86_64 standard  WHM 56.0 (build 25)

Reinstall made no difference

[2016-07-14 12:46] Prajithp commented on #71
@highacid are you also using cloudlinux? just wanted to know.

[2016-07-14 13:42] timdelange commented on #71
I was able to do it manually using certbot --manual, creating the challenge file by hand in the home directory.  Also, like @Unyxos the script succeeded for some of my other domains.

[2016-07-14 19:57] uhlhosting commented on #71
@Prajithp I use simple Centos 7, I was on cloudlinux, but moved back to Centos 7.

[2016-07-15 15:15] tsisson1 commented on #71
@Prajithp I'm getting the same issue on a CentOS 6.7 install. I have it working great on CentOS 6.8 server I have with InMotion. But my CentOS 6.7 server is throwing the error when I go to create an SSL in cPanel. Are there log files somewhere to view on why its failing?

[2016-07-15 15:21] ajwilco commented on #71
^ I'm having the same issue.  Installed your plugin yesterday on a new CentOS 6.8 server, and getting "Error occurred: Status: invalid, Detail: , Type: http-01" when attempting to add a certificate to an addon domain, whether I attempt from WHM or cPanel.  Though it installed certs on all WHM services fine.

I've been using the plugin on an older server that's also running CentOS 6.8 for a few mon

[2016-07-16 00:21] 3by400 commented on #71
We have the same issue.
CentOS 6.8, WHM 56.0 (build 25)
Works beautifully for two out of four subdomains, for two others I get
`Error occurred: Status: invalid, Detail: , Type: http-01`

The procedure creates the .well-known/acme-challenge directory and the authorization file, and that file is world-readable.

Any help would be appreciated.

Edit to add: We uninstalled and reinstalled the plugin a

[2016-07-19 06:59] alexsamsung opened #74 "Something went wrong"
Hello
via WHM I can create any domain under cpanel I always get this message:
Something went wrong, kindly check the log file letsencrypt
Unfortunately I can not find data in the logfile
Please excuse my bad english

[2016-07-19 13:09] WilliamIsted commented on #74
Something you might want to try (if you haven't already) is upgrading cPanel forcing it to reinstall, this has helped in some cases with various plugins.
![cpanel update](https://cloud.githubusercontent.com/assets/5830878/16950900/63cd3b30-4dba-11e6-8f3a-2f952000eeb7.png)

[2016-07-19 13:37] alexsamsung commented on #74
Unfortunately your proposal has led to no improvement

[2016-07-21 01:43] rufftruffles commented on #10
@Prajithp I have the same issue, it happens when the LetsEncrypt WHM services certificate expires on its own and then you can not reinstall it.

Not an ARRAY reference at /usr/local/cpanel/base/3rdparty/letsencrypt-cpanel-ui/lib/perl5/Protocol/ACME.pm line 718.

[2016-07-21 12:02] tsisson1 commented on #71
@Prajithp UPDATE: so it works on newly created subdomains and cPanel accounts. However, I can't seen to get it to work on the primary domain. I removed all the files from the doc root and made sure to rename .htaccess files. It still throws the same error. On a few of the subdomains, the htaccess file had redirects which stopped the cert from validating. Once we renamed the htaccess, it corrected

[2016-07-21 16:39] W5x opened #75 "can't install certificate on whm/cpanel/webmail/FTP services"
i get this error when i try to install ssl on whm/cpanel/webmail/FTP services

Error occurred: Status: invalid, Detail: , Type: http-01

i'm on CENTOS 6.8 x86_64 & Cpanel Latest version

[2016-07-22 01:18] santiazpi commented on #71
For whoever is interested, my http-01 issue was resolved with the read me .htaccess fix
adding to .htaccess file:
`RewriteRule ^.well-known(.*)$ - [L,NC]`

[2016-07-26 21:37] orion3000 opened #76 "Workaround for perl module Protocol::ACME not installing on CentOS 5"
root@vps [~/letsencrypt-cpanel]# ./install.sh
Protocol::ACME is NOT installed
Installing Protocol::ACME
.....
.....
 Testing  perl modules we just installed
.....
Protocol::ACME is NOT installed
.....
There was an error verifying  required perl modules are installed.
The following perl modules could not be installed:
Protocol::ACME
You can try installing these modules by running
/scripts/perlinsta

[2016-07-27 00:51] will-ashworth commented on #10
I hate to say it, but I just setup a new cPanel server today on CentOS 7, and having this issue.

[code]

I'm using this plugin on other CentOS 6 boxes ...is there something wrong with compatibility on v7 that I should know about?

[code]

[2016-07-27 00:56] will-ashworth commented on #10
Additional Information:

[code]

[2016-07-27 04:35] will-ashworth commented on #10
Actually, I think my firewall was getting in the way. Copied a config from another known-good server, and I think that's when it started working correctly.

[2016-07-27 12:49] benjamin-smith commented on #53
For anyone stumbling in from Google, the docs also state,

Check out the alias/addon domains page in cPanel and see what the value is for "Redirects to". cPanel attempts to derive if a redirect is in place by parsing the `.htaccess` file, but it doesn't work well. Edit the `.htaccess` file to ensure that value is "not redirected", then your domains should appear on the Let's Encrypt screen.

[2016-08-05 17:30] adminko-svk commented on #72
I have the same problem.
It can be fix removing old SSL (SSL/TLS » Manage SSL Hosts) and generating new using Letsencrypt plugin.

[2016-08-05 17:32] adminko-svk commented on #43
I think cronjob is not working - how can I check if cronjob is working?

[2016-08-06 13:22] Mastergalen commented on #71
Same problem on CENTOS 6.8 x86_64 kvm –  WHM 56.0 (build 29).

The challenge file is created and it's served to the browser when accessing `domain.com/.well-known/acme-challenge/Rl3e7Qwip5NRrZWA9RChbevqC73Fe6jS0oJPXilT79U`

It worked for securing the WHM domain and my main domain, not for addon domains, however.

[2016-08-08 11:44] FreddyFoxxx opened #78 "error language"
hello!

error report language fix italian

`SCREEN:   http://prntscr.com/c31jlv`

congratulations you are doing a great job I congratulate you ... thanks to you and your efforts we have this form.

going to help with the donation as soon as possible!

I have only one request and feasible to put a elimna ssl client-side?

Best Regards!
Freddy

[2016-08-10 03:26] Prajithp commented on #78
This has been fixed and merged into the master branch. Thank you @k-poole

[2016-08-10 03:26] #78 closed, assigned to nobody

[2016-08-10 03:29] k-poole commented on #78
Oh I didn't even see this issue when I checked previously. Not a problem. cPanel also internally have created bug CPANEL-7890 to resolve this properly, but at least now it works again.

@FreddyFoxxx, just go to your git clone and run `git pull && ./upgrade.sh` your issue should be fixed.

Cheers

[2016-08-10 09:59] FreddyFoxxx commented on #78
many thanks to all for the great fix job!

[2016-08-10 19:28] rentalhost opened #81 "Supports domain without www configured"
I have some domains that I can't controls the DNS itself. So it's basically registered a subdomain on the master domain to points CNAME/A to main own server. In this case, "subdomain.server.com" is available, but "www.subdomain.server.com" is not. If I try to install on it, it will returns a http-01, because probably it is trying to validate both, www and non-www to Let's Encrypt.

I suggests to c

[2016-08-10 23:51] W5x commented on #43
+1 For this request, thank you for all your hard work.

[2016-08-11 23:23] dimangelid commented on #61
I'm facing exactly the same problem. I have a cPanel DNSONLY, version WHM 58.0 (build 19), installed at a CentOS 6.8 system. I installed the following plugins:

/scripts/perlinstaller cPanel::PublicAPI
/scripts/perlinstaller Protocol::ACME
/scripts/perlinstaller JSON::XS
/scripts/perlinstaller Mozilla::CA
/scripts/perlinstaller CGI

I tried to uninstall (uninstall.sh) the plugin and reinstall it b

[2016-08-13 03:35] shinji257 commented on #81
Your assumption is correct.  I'm trialing cPanel and I just determined that was the cause.  Adding cname records on dns for www.sub.domain.com got it to succeed.

The issue is that the plugin is just getting a list of domains + aliases from cPanel.

I did find a more viable workaround (don't want to litter dns) and it does require a little manual editing so I sorta wish cPanel would provide a way

[2016-08-17 11:27] muratyamac commented on #71
I am having Error occurred: Status: invalid, Detail: , Type: http-01 too but i found out something strange regarding it.
I can install to a domain without a problem, i can even install to a subdomain without a problem.
I can't install to subdomain if the root domain has a ssl certificate. I have tried it with few different domains from different provider i always get this error.

[2016-08-17 11:53] uhlhosting commented on #71
It seems we are ignored all... There is one reply only from the developer...

[2016-08-17 12:54] BeZazz commented on #71
2 replies actually.

Maybe you should ask for a refund...

[2016-08-17 15:32] tejli007 commented on #75
Same here. It says License Valid    -17030 days.

any way to renew it via command?

p.s I have deleted and created new cert many time so it says always expired.

[2016-08-18 10:40] WilliamIsted commented on #71
@highacid  Out of interest, what are the domains that you're having trouble with? And is it all domains or only some?

[2016-08-18 12:38] MouseEatsCat commented on #71
I'm experiencing the same issue with cPanel accounts that have subdomains and addon domains along with the primary domain name. The error i'm receiving is this (some of it is removed using `****` in order to protect privacy):

[code]

I have tested the url to the acme-challenge file and can confirm that it is publicly accessible.

[2016-08-18 12:46] WilliamIsted commented on #71
@MouseEatsCat have you tried the `RewriteRule ^.well-known(.*)$ - [L,NC]` in the top of `.htaccess` within the document root for the domains?
Can you supply the domain(s) that you are having trouble with, I would like to troubleshoot the issue using a domain that is experiencing the issue.

[2016-08-18 13:29] MouseEatsCat commented on #71
@WilliamIsted I had included that line to my `.htaccess` file previously but it did not fix anything. Since then however, I removed a **Domain Alias** from within cPanel that wasn't being used (email.website.com). Afterwards, I re-added `RewriteRule ^.well-known(.*)$ - [L,NC]` to my `.htaccess` file and it seems to have fixed the issue for the primary domain.

However, I needed an ssl certificate

[2016-08-18 13:44] WilliamIsted commented on #71
@MouseEatsCat Glad you got to the bottom of it, I think most of these `http-01` issues are likely to be DNS related.

[2016-08-18 14:21] uhlhosting commented on #71
@WilliamIsted all my domains face this issues.

[2016-08-18 14:32] WilliamIsted commented on #71
@highacid could you provide one of the domains having the issue? Are the cPanel accounts using single domains or using Aliases and/or Addon Domains at all? And have you tried the `.htaccess` rule within your Document Root?

[2016-08-18 15:02] uhlhosting commented on #71
@WilliamIsted  Just single domains no aliases, no addons. I did not changed the .htaccess rules at all, are the default from wordpress. IE: http://highacid.com . Ofc now it runs a manual SSL from another provider. Also http://unacunatura.com/

[2016-08-18 15:08] dimangelid commented on #61
Hello,
Any news about the problem i have reported?

[2016-08-18 15:09] uhlhosting commented on #71
Funny i reinstalled the plugin and it worked for unacunatura.com Successfully installed SSL certificate

[2016-08-18 15:28] WilliamIsted commented on #71
Strange, glad at least it is working for you now though

[2016-08-18 15:35] uhlhosting commented on #71
I believe he made some updates because it all looks different
He should at least update these threads with info to update the plugin.

[2016-08-21 04:24] kohenkatz commented on #81
I tried to do what @shinji257 did (removing `serveralias` from the userdata file), and now I'm getting a different error:

[code]

[2016-08-27 04:45] sfarrell5123 opened #83 "http_01"
I am getting the http_01 error as well

I can see the /.wellknown/ url being retrieved, with status 200, 87 bytes

how can I get more debug ?

how can I run the script manually from root from command line

I did a git pull, uninstall, install

checked dns for domain.com.au and www.domain.com.au

it's been working previsously, perhaps whm upgrade screwed it up

[2016-08-27 05:49] sfarrell5123 commented on #83
found my own solution - the auth URL wasnt returned quickly enough to letsencrypt

[2016-08-27 05:49] #83 closed, assigned to nobody

[2016-08-27 06:04] sfarrell5123 opened #84 "I updated, and my styles broke"
![screenshot-192 168 2 32 2083 2016-08-27 16-00-52](https://cloud.githubusercontent.com/assets/15013216/18025541/d8c6d800-6c6f-11e6-83d6-36fb4fb3ba2b.png)

I tried reinstalling, and refreshing browser, a new browser

[2016-08-27 15:50] MouseEatsCat commented on #84
What version of cPanel are you using? Are you using the x3 theme or the paper_lantern theme?

I've had similar issues in the past when I used the x3 theme.

[2016-08-27 22:43] sfarrell5123 commented on #84
the latest cpanel ,  WHM 58.0 (build 24)

that was paper_lantern above, x3 gives a blank screen, only the copyright line survives

[2016-08-28 15:56] MouseEatsCat commented on #84
Did you try going to the directory where you installed it using SSH and running
`git pull` and then `./upgrade.sh` ?

[2016-08-28 17:47] sfarrell5123 commented on #84
tried both

git pull  then ./upgrade.sh

and
git pull  then ./uninstall.sh then ./install.sh  (commands from memory)

and between retries, logged out from cpanel.

On Mon, Aug 29, 2016 at 1:56 AM, Michel Descoteaux <notifications@github.com

[2016-08-29 18:33] MouseEatsCat commented on #84
Are there any errors in the console when you do "Inspect Element" on the page with the broken styles?

[2016-09-05 16:45] hardik4mail opened #85 "letsencrypt-cpanel include old copy of certbot"
Plugin include latest copy of certbot?

Because everyday I'm getting email alert from server with following message:

WARNING: certbot.cli:You are running with an old copy of certbot that does not receive updates, and is less reliable than more recent versions. We recommend upgrading to the latest certbot-auto script, or using native OS packages.

[2016-09-06 13:22] cunningham-br commented on #84
Same error here i use cpanel 56.0.33
this error apear after upgrade

[2016-09-10 16:40] slrslr commented on #71
im having this issue with .tk Addon domain which path is /home/user/public_html/addondomain.tk

i tried to add mentioned two lines:

[code]

into .htaccess in public_html and addon domain directory, but that hae not fixed it. I tested that the domain is accessible from same server by doing: curl addondomain.tk

I wanted to upgrade this module by executing: "cd letsencrypt-cpanel" but that dir. doe

[2016-09-12 13:22] lupetalo opened #86 "Unable to access interface"
`> A fatal error or timeout occurred while processing this directive.`
Everything was working until I enabled Autossl with this command:
`/scripts/install_lets_encrypt_autossl_provider`
Uninstall install or upgrade does not help... Are those two incompatible?

[2016-09-24 04:31] itseasy21 commented on #71
I'm also facing this issue, plugin works fine for main domain but i try to add ssl to addon domain while the main domain having ssl enabled it shows same error of http-01

[2016-09-27 15:34] Prajithp commented on #40
This feature has been implemented. I have tested this only on centos 6.8, so if anyone using centos 7. Please test it and let me know.

[2016-10-14 11:35] hostfusion opened #87 "Issue with www"
Hello,

from last update the plugin only install the certificate on https://domain.com not https://www.domain.com not include the www for certificate. Are this ok ? or have missing something ? Are There any way to fix this issue ?

Regards

PS

[2016-10-14 12:20] BeZazz commented on #87
The only way I can get it to work is by adding

RewriteRule ^.well-known(.*)$ - [L,NC]

to the top of the .htaccess file

[2016-10-14 13:19] Prajithp commented on #87
@hostfusion Will check it and let you know,

[2016-10-14 20:05] hostfusion commented on #87
@Prajithp Thanks, i note that this issue happen in the cPanels accounts when install the certificate, although selections in the dialog box the domain with www only installs for the domain without www,  but if you install from whm manager work fine, install for all with o without www, for this i think the issue is with the cPanel manager. I hope this help.

Regards

PS

[2016-10-25 03:48] will-ashworth opened #89 "Error occurred: Status: 400, Detail: DNS name does not have enough labels, Type: urn:acme:error:malformed"
This is when generating cert for the following:
- WHM/cPanel
- Exim
- FTP
- Dovecot

Now here's the weird part. When I originally installed this plugin 2-3 months ago (on a new cPanel server), it all worked great. Other LE domains are renewing fine, it's the WHM service certs that are not renewing and giving that error:

[code]

Is there a simple fix? It worked once. Not sure why all of a sudden i

[2016-10-29 11:09] Prajithp commented on #89
Could you please email me your hostname csr file?

/var/letsencrypt/live/<Your server hostname>/<Your server hostname>.csr

So that I can check the SAN field and advice you further on this.

[2016-10-29 12:51] will-ashworth commented on #89
Just sent. Thank you for your help @Prajithp

[2016-10-30 11:04] hostfusion commented on #87
Hi @Prajithp do you have news ? :)

Regards

PS

[2016-11-03 03:11] will-ashworth commented on #89
Any luck @Prajithp ?

[2016-11-07 14:07] BeZazz opened #90 "Genuine question"
Is this project now dead?

Asking as I am wondering whether or not to remove this from servers.
NOTE: I do not want to but currently there is a few issues.

[2016-11-08 19:18] BeZazz commented on #89
I just noticed this issue also.

[2016-11-08 19:54] will-ashworth commented on #89
I think it has to do with OpenVZ VPS hostname not surviving reboot. For example, if you type `hostname` and see "myserver", you should try `hostname myserver.mycompany.com" so that`hostname` outputs the full, correct hostname.

If Lets Encrypt cannot validate a correct hostname, I believe it will fail. This isn't a @Prajithp issue; but rather a server one. Not that a little helpful information upo

[2016-11-08 19:55] will-ashworth commented on #89
Also, what tipped me off was installing a competing product, and the same issue happening.

[2016-11-08 20:11] BeZazz commented on #89
I think you are correct.
The server I had the issue with is CENTOS 7.2 x86_64 virtuozzo
and the hostname was incomplete, instead of pluto.domain.com it was only pluto

[2016-11-08 20:41] will-ashworth commented on #89
Well, it appears this is an issue with OpenVZ in general. The only fix I think may work is this...

[code]

`chattr` will ensure that even root cannot write to the file to change it. Even on reboot.

If for some reason you want to modify the file again in the future, you can do this:

[code]

@Prajithp @BeZazz

[2016-11-08 20:47] will-ashworth commented on #89
Just rebooted, and this is confirmed working.

[2016-11-09 10:13] WilliamIsted commented on #90
As I'm sure you're aware, the author of this project @Prajithp replied to an issue only 11 days ago, 9 days ago from the posting of this issue. I'd just like to point out that this type of "issue" doesn't particularly encourage authors to help assist with problems and in my opinion is one more reason as to why any author might feel like abandoning a project.

[2016-11-09 10:28] Prajithp commented on #90
@BeZazz, I don't want to abandon this project as it is installed on 100+ servers and they are actively using it. The reason why I'm not active on this is, I got a new project from my office and therefore i have to work around 13 hours a day to complete it before the deadline.

Could you please point out all issues you are facing? so that I can look into it when I get much free time.

[2016-11-09 10:35] BeZazz commented on #90
Hi @Prajithp the main issue I have is
https://github.com/Prajithp/letsencrypt-cpanel/issues/87

I will go and donate $20 to you now as a thank you for the time you have put into this.

[2016-11-09 10:38] BeZazz commented on #90
Sorry I tried but received the message.

[2016-11-09 12:04] Prajithp commented on #87
@hostfusion @BeZazz Can you please check this and let me know?

[2016-11-09 12:04] Prajithp commented on #90
#87 would fix this issue

[2016-11-09 12:04] #90 closed, assigned to nobody

[2016-11-09 12:49] hostfusion commented on #87
@Prajithp Thanks, my first test its ok :) Fixed #87

[2016-11-09 13:20] Prajithp commented on #87
Thanks @hostfusion for the confirmation

[2016-11-09 13:20] #87 closed, assigned to nobody

[2016-11-10 22:24] weltonwe opened #92 "Internal Server Error"
https://xxxxx:2083/cpsess5536639656/3rdparty/letsencrypt-cpanel-ui/index.live.pl
Internal Server Error

500

No response from subprocess ( (cpanel)):
cpsrvd/11.60.0.17 Server at xxxxx

[2016-11-15 17:49] Tntdruid commented on #92
I get the same error :(

Internal Server Error

500

No response from subprocess (/usr/local/cpanel/whostmgr/docroot/cgi/letsencrypt/letsencrypt.pl): The subprocess reported error number 255 when it ended.

[2016-11-16 04:32] Prajithp commented on #92
@Tntdruid @weltonwe Could you please send the cPanel error_log file to prajithpalakkuda@gmail.com?

[2016-11-16 08:04] slrslr commented on #86
and on which URL that fatal error appears? Once the error appears, execute on command line:
 tail -n 50 /usr/local/cpanel/logs/error_log
to find related error log entry

[2016-11-16 08:18] lupetalo commented on #86
This was a month ago, cpanel update somehow fixed it. If it happens again I will provide more information.

[2016-11-16 08:35] slrslr commented on #84
I think i found the cause. As MouseEatsCat mentioned, it is issue related to the cPanel **style**.
In cPanel go to Preferences > Change Style and switch from retro to the basic
In WHM go to Home > cPanel > Customization [Documentation] and select Basic style instead of Retro
Someone prefer retro style as me. Can developers enhance letsencrypt-cpanel to allow retro style set please or any hack in t

[2016-11-16 10:04] sfarrell5123 commented on #84
confirmed - works for 'paper lantern' 'basic' style - the retro style has
css problems

now I'll try to work out how to change everyone's style to basic

On Wed, Nov 16, 2016 at 7:35 PM, slrslr notifications@github.com wrote:

[2016-11-16 14:45] Tntdruid commented on #92
Log send

[2016-11-16 15:39] simplysup opened #93 "Status: 400, Detail: DNS name was empty, Type: urn:acme:error:malformed"
CENTOS 6.8 (32bit), WHM 56.0 (Build 36)

SSL's are not auto-renewing. I used WHM to delete the ssl for one domain, then tried to add a new certificate. This is failing with:
Status: 400, Detail: DNS name was empty, Type: urn:acme:error:malformed

/var/letsencrypt/letsencrypt.log is empty.

Edit to add: I ran ./upgrade.sh before attempting the above.

[2016-11-18 10:43] Prajithp commented on #92
Seems to be a cPanel installation pbm. I could see lots of errors regarding perl and others.

[code]

[2016-11-21 00:05] simplysup commented on #93
Re-instated existing cert, and a couple of days later it auto-magically renewed without further intervention.

::shrug:;

[2016-11-21 00:05] #93 closed, assigned to nobody

[2016-11-28 17:36] Gokalex opened #94 "Cert for WHM Services Error"
I just got a new server and wanted to use letencrypt for the services, but when i run this plugin i get this error:

`Error occurred: Status: invalid, Detail: , Type: http-01`

Is there a way to run it in "verbose" mode to get more details?

[2016-12-03 21:46] Deusdies commented on #94
I am getting the same error.

[2016-12-05 19:10] MarksEliel commented on #89
I am using VMWare and the error occurs too.

[2016-12-08 13:49] Scorcerer opened #95 "Add list of blacklisted domains"
Hello,
it would be great if there was a possibility to declare a list of domains that won't be available to generate certificates for. The problem is: all accounts are created with the same main domain (as in: customer01.brandname.com, customer02.brandname.com, anothercustomer.brandname.com) which eventually triggers let's encrypt rate limit of 20 subdomains per week. With this list, customers wou

[2016-12-08 18:54] crazybejbi commented on #95
It would be very important, becouse many hosting providers is seting up account with "technical domain" which is subdomain of his own domain. These subdomains have usually wildcard paid certyficate, so, don't need let's encrypt certyficate.
When it will be "blacklist of domains" users (when generating let's encrypt) will not see subdomains contained such "blacklisted domains". Subdomains have limi

[2016-12-14 22:16] integrateddigital opened #96 "Message after choosing domain to issue .."
Hi,

Thank you very much for doing this plugin;
I installed it, and the icon appears properly on cpanel ( although in whm it times out if I click the plugini icon ) and I am able to go all the way to the "Choose Domain" .. once I choose the domain,
it works for a few seconds and a message, flagged in red appears:

Executed: /usr/bin/openssl req -new -sha256 -utf8 -key /home/live/.letsencrypt/live/

[2016-12-16 20:18] XGhozt opened #97 "Installing certificate for the cpanel main domain?"
I read somewhere that it only works with cnames or subdomains, etc.. but not the main domain? I ran into an issue where I had two separate cpanel accounts for "domain.com" and one for "sub.domain.com" -- I wasn't able to install a cert for "sub.domain.com" because it was picking up "www.sub.domain.com" instead.

A weird work around that worked was, I just opened the developer tools on my browser a

[2016-12-16 21:39] will-ashworth commented on #97
That's correct, from what I've seen. The easiest thing you can do so that renewals are more likely to happen correctly...

Setup a CNAME record in DNS for `www.sub.domain.com`, and have it reference `sub.domain.com`. This way validation from LE's end can succeed.

[2016-12-16 21:41] will-ashworth commented on #95
Not intending to troll this comment thread, but it's related...so here goes.

If the main reason for rate limiting is usage of the API (and expense to operate it), why not charge for use of the API like Google does? Seems pretty straightforward to me.

[2016-12-31 04:40] SeyMedia opened #98 "Problem with WWW for addon domain in cPanel"
My webhost implemented this and when i use it for addon domains i can not get it to work for www for addon domain - issue like https://github.com/Prajithp/letsencrypt-cpanel/issues/44
Can anybody else confirm that this problem still exist or was fixed?
Thank you!

[2017-01-07 01:27] ghost opened #99 "WHM Service SSL Certificate Issue"
Hello,

For some reason it is not installing the WHM Service SSL Certificate on any settings. When I do hostname it shows my full hostname (cp.domain.com) and is not a problem there. How do I fix this, I tried using the README.md in the front but it didn't work.

[2017-01-08 22:28] SabatinoMasala commented on #96
I'm getting the same issue described above. When executing the command manually I get some further output:
[code]
This happened after upgrading to the latest commit (8971c55e510e95a22e4c7a49746a8aefd51f23b3).

A workaround is to use the **autossl feature of WHM**, which supports Let's Encrypt now.

[2017-01-17 07:14] leisegang opened #100 "Error on update"
root@server scripts]# perl renew_letsencrypt_ssl.pl
Can't locate Cpanel/LetsEncrypt.pm in @INC (@INC contains: /usr/local/cpanel/base/3rdparty/letsencrypt-cpanel-ui/lib/perl5 /root/perl5/lib/perl5 /usr/local/lib64/perl5 /usr/local/share/perl5 /usr/lib64/perl5/vendor_perl /usr/share/perl5/vendor_perl /usr/lib64/perl5 /usr/share/perl5 .) at renew_letsencrypt_ssl.pl line 8.
BEGIN failed--compilation

[2017-01-17 16:56] arshem opened #101 "Issue with issuing SSL cert"
Error occurred: Status: 403, Detail: Error creating new cert :: Authorizations for these names not found or expired: mail.arshem.com, Type: urn:acme:error:unauthorized

I get this when trying to install an SSL cert. Ideas?

[2017-01-18 10:30] WilliamIsted commented on #101
Is the DNS serving records for that address?

[2017-01-18 11:32] arshem commented on #101
It uses CNAME for that address, no A record for mail

[2017-01-18 11:35] WilliamIsted commented on #101
What is the CNAME set to?

[2017-01-18 11:36] arshem commented on #101
arshem.com.

[2017-01-19 01:41] hbouma commented on #55
It looks like certs when they renew don't keep the SNI enabled setting either.

[2017-01-19 11:34] WilliamIsted commented on #101
I'm not seeing any DNS records for that domain at all

[2017-01-19 15:17] arshem commented on #101
http://mxtoolbox.com/SuperTool.aspx?action=cname%3amail.arshem.com&run=toolpage#

[2017-01-20 15:31] arshem commented on #101
I found the issue: My firewall wasn't allowing DNS lookups, thus the call was failing. Sorry William!

[2017-01-20 15:31] #101 closed, assigned to nobody

[2017-01-20 20:14] WilliamIsted commented on #101
No problem, it did throw me off that mxtoolbox was able to do the lookup.

[2017-02-10 07:06] solinad21 commented on #94
I am getting the same error.

[2017-02-15 04:38] kmoransv commented on #94
Same error to me!

[2017-02-22 19:42] StefanoMadrigal opened #102 "Domains not showing in dropdown to assign SSL cert"
I am having an issue where I do not see the domain to select from the dropdown when trying to generate a new SSL for a domain. Can someone please help me.... Cant seem to figure out the issue.

[2017-02-22 20:05] StefanoMadrigal commented on #102
![capture](https://cloud.githubusercontent.com/assets/25964248/23230014/5e3990f4-f910-11e6-89f4-b24551338fc2.JPG)

I have provided a screenshot

[2017-02-22 20:12] joshmn commented on #102
Ha, just came here to post this exact same bug.

[2017-02-22 20:14] joshmn commented on #102
I tried adding another account and seeing if that domain would get populated, but no dice.

[2017-02-22 20:15] StefanoMadrigal commented on #102
Same issue with me brother.... I even attempted to uninstall from my server and re-installing.... Same issue with no relief.... I am using WHM 62.0 build 15.

[2017-02-22 23:47] BeZazz commented on #102
I just tried 2 random servers running WHM 62.0 (build 15) and everything was fine.

[2017-02-23 07:21] StefanoMadrigal commented on #102
Appropriately I am not the only one that is facing this issue which is unique but it is a problem. How can I resolve this issue is the question being asked......

Here is a question...... what are the dependencies for this application?.... it may be possible I dont have the current dependencies installed in the server?

[2017-02-23 19:21] joshmn commented on #102
@StefanoMadrigal I don't think it's a dependency issue. I think it's a query issue.

[2017-02-23 19:26] StefanoMadrigal commented on #102
I hope someone can help us because I want to use this Plugin... I am using it in my other servers with no issues what so ever.... I don't get it.... smh.

[2017-02-26 21:33] talkquazi commented on #71
I was facing this problem on some of my domains by not others. The solution for me was to add the above mentioned "well-known" rewrite rule to the very top of my .htaccess file in the public_html of the offending site and selecting the www. input as the alt-domains selection. I noticed domains using https or www forced htaccess rules cause this error.

I should also note that if your domain is usi

[2017-04-14 22:46] ZackMatar opened #103 "CSS not showing on custom paper_lantern theme"
Seems the CSS get's messed up?

I am not sure why.

http://prntscr.com/ewlgek

[2017-04-27 09:28] twinedev commented on #71
Just a note for others coming here looking up that error. cPanel now makes their own official plugin for Let's Encrypt, so that it is an option for the AutoSSL feature. See here:

https://blog.cpanel.com/announcing-cpanel-whms-official-lets-encrypt-with-autossl-plugin/

When enabled, it will automatically get an SSL for any new domain, addon domain, subdomain, and will automatically insert the rew

[2017-04-27 09:44] slrslr commented on #71
RE: twinedev
yes, i ended up uninstalling this module:

and then using mentioned official cPanel built in AutoSSL Let's Encrypt function.

[2017-04-27 15:48] #71 closed, assigned to nobody

[2017-05-12 05:55] hinhthoi commented on #102
I think this is because of a new cpanel feature. Now, everytime a domain is added to the server, the self-sign SSL for that domain is also automatically added. Since this plugin sees the domain already has a certificate (even though it is self-signed), it won't show up the domain in the list.

[2017-05-30 16:43] skitzo2000 opened #104 "Error occurred: Status: invalid, Detail: , Type: http-01"
We recently started having errors occur when attempting to renew certs. In the past I have deleted the old key Via WHM and then simply renewed.  But this time around I get the following error: "Error occurred: Status: invalid, Detail: , Type: http-01"  I checked the log and see the same response.

After some time I was able to get it to renew properly, but in order to avoid the issue recurring I'm

[2017-05-31 19:17] itsfolf commented on #104
That issue is caused by the .well-known folder, in the README there's a apache .htaccess file with a fix for it.

[2017-05-31 20:48] itsfolf opened #105 "Subdomain certificate problems"
I'm trying to create a new certificate for a subdomain and the dropdown works like this:
![image](https://cloud.githubusercontent.com/assets/9268058/26649630/8d53ba38-463e-11e7-924f-9dd1a91ce721.png)
The problem is that when I keep only like that and don't select anything else I get the following error:
`Error occurred: Status: 400, Detail: Error creating new authz :: DNS name was empty, Type: urn

[2017-06-02 04:48] kenpeter opened #106 "Error Loading request extension section SAN"
Executed it
/usr/bin/openssl req -new -sha256 -utf8 -key /var/letsencrypt/live/letsencrypt.xxx.com.au/letsencrypt.andatech.com.au.key -config /tmp/r7ECKrghhm.conf -reqexts SAN -subj / -out /var/letsencrypt/live/letsencrypt.xxx.com.au/letsencrypt.xxx.com.au.csr

problem 1

/tmp/r7ECKrghhm.conf, not there

problem 2

Error Loading request extension section SAN

[2017-07-20 11:55] Asif2BD commented on #102
No solution in 5 months? I am facing the same.

[2017-07-30 11:08] hendranata opened #108 "Error occurred: Status: 400, Detail: Error creating new authz :: DNS name was empty, Type: urn:acme:error:malformed"
i just try to install
and we have disable auto ssl
also when we do install the ssl
error is comming up:

Error occurred: Status: 400, Detail: Error creating new authz :: DNS name was empty, Type: urn:acme:error:malformed

do u know how to solved?

[2017-07-30 11:15] hendranata commented on #104
i have add .htaccess
RewriteRule ^.well-known(.*)$ - [L,NC]

under public_html/
but the error still same.

[2017-08-05 08:21] hendranata commented on #71
yes i also face this problem..
cloudlinux 7.3
do know how to fix that

[2017-08-08 01:35] blindmikey commented on #105
I too am having this issue.

[2017-09-12 10:11] webcomunica opened #109 "Internal Server Error"
Internal Server Error

500

No response from subprocess (/usr/local/cpanel/whostmgr/docroot/cgi/letsencrypt/letsencrypt.pl): O subprocesso relatou o erro número 255 quando foi encerrado.
cpsrvd Server at xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

[2017-09-12 22:06] Dev-l0p opened #110 "Error occurred: Status: invalid, Detail: , Type: http-01"
Hello ,
Thanks For this plugin .
I install this plugin in my Centos 7.3 normal server and it works perfectly .
But now when I will request for new ssl for new domain's ,Give me This Error :
`Error occurred: Status: invalid, Detail: , Type: http-01 `

I remove AND install (reinstall) this plugin but my problem not fixed .

[2017-09-17 07:55] hendranata commented on #110
what is the domain name?
if u want to create free ssl from sub domain.. yes it will return error
please use root domain..

i also dont know why this plugin does not work with sub domain

[2017-09-21 18:28] lucianozanita opened #111 "Issuie plugin WHM - CPanel v66.0.23"
Internal Server Error
500
No response from subprocess (/usr/local/cpanel/whostmgr/docroot/cgi/letsencrypt/letsencrypt.pl): The subprocess reported error number 255 when it ended.

How can I solve? already tried to install, uninstall and nothing works

[2017-09-27 18:05] photogaff commented on #111
I'm seeing the same issue. also getting "400 Bad request" when I run it through shell.

Running CENTOS 7.4 kvm [cpanel2]  v66.0.23

[2017-09-27 18:08] lucianozanita commented on #111
Yes, apparently some incompatibility with the new version of CPanel/WHM

[2017-10-04 01:00] robertsimpson commented on #111
I'm experiencing this issue on a new installation too.

[2017-10-04 15:20] robertsimpson commented on #111
I noticed this when installing again:

[code]

This is despite already having Protocol::ACME installed. Could this be part of the problem? The plugin can't find resources it needs?

[2017-10-04 22:54] robertsimpson commented on #111
I just installed the plugin on a completely fresh install of cPanel v66.0.24 and the issue persists.

[code]

[2017-11-11 14:17] photogaff commented on #111
I have abandoned this and moved to the cPanel LetsEncrypt plugin for AutoSSL:
https://documentation.cpanel.net/display/CKB/The+Let%27s+Encrypt+Plugin

Install: /scripts/install_lets_encrypt_autossl_provider
Uninstall: /scripts/uninstall_lets_encrypt_autossl_provider

[2017-12-12 05:28] GottfriedCP commented on #108
This happened to me when trying to generate certificate for record that did not exist. In my case, the invalid record is www (CNAME). Selecting only the valid records fixed this for me.

[2017-12-12 14:20] zstergios commented on #109
me too, on new server clean install

[2017-12-12 14:21] zstergios commented on #92
me too!
Also "Installing Protocol::ACME" takes for ever! Any solution?

[2018-02-04 10:56] omitti opened #112 "500 internal error - cPanel version 68.0.23"
Hi
This error has been shown after install plugin and go to WHM>Plugins > Let's Encrypt :
Internal Server Error
500
No response from subprocess (/usr/local/cpanel/whostmgr/docroot/cgi/letsencrypt/letsencrypt.pl): The subprocess reported error number 51489713164 when it ended.

How can I solve? already tried to unistall and reinstall and problem has not been solved.

[2018-06-28 03:25] Gaeta opened #113 "Dns-01 Not working.. [BUG]"
Hi when i issue an ssl for a doamin and its dns-01 https://imgur.com/a/cdw4CAq the subdoamins do not work and i made sure i have the wildcard on.!

[2018-07-29 13:17] IShinji commented on #104
http://www.mochasupport.com/kayako/index.php?_m=knowledgebase&_a=viewarticle&kbarticleid=783&nav=0,64

If you see the error below in our cPanel Let's Encrypt plugin for both shared or VPS/Cloud:

Error occurred: Status: invalid, Detail: , Type: http-01

The error means that the your domain name is not pointed to us and can not be validated. The domain needs to be pointed to your account hosted wit

[2018-07-29 19:30] NabiKAZ opened #114 "I USE THIS !!! ❤️"
Why do you really think that someone does not use it?!
The project is currently 173 stars and is the only free project for the Cpanel Plugin. 🆓
So I use it and hopefully you continue to work on it. ❤️
Also, I will be glad to don't see the word "Deprecated" at the top of the page at the next visit. 😉

[2018-07-29 20:57] arian-askari commented on #114
I use it too @Prajithp, please continue to work on it ❤️❤️❤️.

Best Regards,
Arian.

[2018-08-11 12:38] NabiKAZ commented on #10
I have the same issue.
I test on two server:

CENTOS 7.5 x64 kvm
Cpanel v74.0.4
Perl v5.026000
letsencrypt-cpanel Version Latest commit e3ea198  on Jan 30

====================
Web request for firstlly request: https://xxxxxxxxx:2087/cpsessxxxx/cgi/letsencrypt/letsencrypt.pl
[code]
===========================
Web request for try again request: https://xxxxxxxxx:2087/cpsessxxxx/cgi/letsencrypt/lets

[2018-10-09 22:19] #97 closed, assigned to nobody

[2019-01-11 19:03] TUNEDCLOUD commented on #102
Same issue, just installed this script today, domains do not show up in the drop down. I'm going to go through the code and see if I can find a resolution to the issue. Would love a pointer in the right direction though. ;)

[2019-02-06 11:15] mauamolat commented on #114
Me too. May we create a wildcard through this?

[2019-02-06 16:01] mauamolat commented on #112
How do we uninstall this?

[2019-03-13 16:21] mehrshadmti opened #115 "this plugin have problem with dark style cpanel"
hi
this plugin have problem with dark style cpanel
plese fix it
http://s9.picofile.com/file/8354955992/_81013C20_A1B0_4144_8E2B_A099FA78F4B2_png.jpg

[2019-03-28 12:07] RanojitKumar opened #116 "Internal Server Error 500"
No response from subprocess (/usr/local/cpanel/whostmgr/docroot/cgi/letsencrypt/letsencrypt.pl):
cpsrvd Server at hostname.mysite.com

How could I resolve this issue?

[2019-08-05 17:39] bspsk1234 opened #117 "Getting Error on Let's Encrypt after updating the Cpanel to Latest Version 82.0.7"
Internal Server Error

500

No response from subprocess (/usr/local/cpanel/whostmgr/docroot/cgi/letsencrypt/letsencrypt.pl): The subprocess reported error number 72,057,594,037,927,935 when it ended. The process dumped a core file.

Kindly help me to get this issue resolved. Its choking all my Client's SSL. I have uninstalled and Reinstalled afresh, Still, unable to get this issue resolved.

[2019-11-18 13:58] JG-ServerSP opened #118 "ACMEv1 is disabled - Upgrade to ACMEv2?"
I have this error:

Error occurred: Status: 403, Detail: Account creation on ACMEv1 is disabled. Please upgrade your ACME client to a version that supports ACMEv2 / RFC 8555. See https://community.letsencrypt.org/t/end-of-life-plan-for-acmev1/88430 for details., Type: urn:acme:error:unauthorized

[2020-05-28 08:51] akoweb commented on #118
i have same error in whm

[2020-06-06 08:23] mepjnik commented on #117
Hi,

This fixed my issue:

Login WHM > Tweak Setting > Security > Allow deprecated WHM accesshash authentication > Enable ( On )

[2020-06-06 08:24] mepjnik commented on #116
Hi,

This fixed my issue:

Login WHM > Tweak Setting > Security > Allow deprecated WHM accesshash authentication > Enable ( On )

[2020-06-06 08:24] mepjnik commented on #112
Hi,

This fixed my issue:

Login WHM > Tweak Setting > Security > Allow deprecated WHM accesshash authentication > Enable ( On )

[2020-06-06 08:24] mepjnik commented on #111
Hi,

This fixed my issue:

Login WHM > Tweak Setting > Security > Allow deprecated WHM accesshash authentication > Enable ( On )

[2020-06-06 08:27] mepjnik commented on #109
Hi,

This fixed my issue:

Login WHM > Tweak Setting > Security > Allow deprecated WHM accesshash authentication > Enable ( On )

[2020-07-17 11:23] PascM commented on #114
Hi all, is this project still alive?

[2021-01-12 14:44] myhostgoi opened #119 "Regular Update"
Hi Prajith,
I am using your plugin on our cPanel server from one year. I am very happy with this plugin. Is this possible to offer a yearly update on this plugin to resolve the known bugs?

I know, it's hard to offer updates on the free version, if not possible, I can also hire you to upgrade the plugin for our agency usages. Just let me know your thoughts.

[2021-01-12 16:28] Prajithp commented on #119
@myhostgoi Just want to know, is it still working? I don't have any cPanel server at the moment to check.

[2021-01-12 16:33] myhostgoi commented on #119
Hi,
Thanks for your reply. Unfortunately, this plugin is fully stopped working
on latest cPanel versions.

On Tue, 12 Jan, 2021, 9:58 pm Prajith, <notifications@github.com> wrote:

[2021-01-31 10:08] amingholami commented on #118
We have all same error,
Please update it

[2021-03-20 12:06] JialuZhang commented on #11
@Prajithp

In your posted configuration,
[code]
the line "RewriteEngine On“ is a silent misconfiguration. This means adding it to your system will not change any system behavior.
"RewriteEngine On" is introduced by Apache to explicitly enable all "RewriteRule" and "RewriteCond".
That is to say, unless you include multiple "RewriteRule" and "RewriteCond" parameters in your configuration, then leavi

[2021-06-07 16:30] #115 closed, assigned to nobody

[2021-06-20 18:23] mauamolat commented on #119
Hope this would work on the latest cPanel servers